---
import CustomQRCode from "../../commonComponents/QRcode";
const {orgData} = Astro.props
interface UserObject {
	orgDid:string
	ledgers:{
		name:string
	  networkType:string
	}
	networkType:string
	walletName:string
	createDateTime:string
}
---

<div class="min-[320]:inline-block  w-full md:flex rounded gap-2 bg-white">
	<div class="w-2/3 mb-4 sm:mb-0 sm:pr-4 p-2">
		<h1 class="font-semibold text-2xl p-3">Wallet Details</h1>

	{	orgData?.org_agents.length > 0 ?
	<div class=" flex justify-start align-middle items-center p-3">
		<ul class="space-y-6">
			{orgData?.org_agents ? 
			orgData?.org_agents?.map((agentData:UserObject) => (
				<li class="flex z-10 items-center text-xl">
					<span class="z-10 w-52">DID</span>
												<span class="mx-2">:</span>
												<span class="ml-9 text-gray-600">{agentData?.orgDid} </span>
		<button id="myButton" class={`${false }`} >
		{false
			? <svg class="h-6 w-6 text-white ml-3 text-base" width="25" height="25" viewBox="0 0 24 24" stroke-width="2" stroke="green" fill="none" stroke-linecap="round" stroke-linejoin="round">  <path stroke="none" d="M0 0h24v24H0z" />  <path d="M5 12l5 5l10 -10" /></svg>
			: <svg class="h-6 w-6 text-green ml-3 text-base" width="25" height="25" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">  <path stroke="none" d="M0 0h24v24H0z" />  <rect x="8" y="8" width="12" height="12" rx="2" />  <path d="M16 8v-2a2 2 0 0 0 -2 -2h-8a2 2 0 0 0 -2 2v8a2 2 0 0 0 2 2h2" /></svg>
		}
	</button>
				</li>
				<li class="flex items-center text-xl">
					<span class=" w-52">Ledger</span>
												<span class="mx-2">:</span>
												 <span class="ml-9 text-gray-600">{agentData?.ledgers?.name}</span>
				</li>
				<li class="flex items-center text-xl">
					<span class=" w-52">Network</span>
												<span class="mx-2">:</span>
												<span class="ml-9 text-gray-600">{agentData?.ledgers?.networkType}</span>
				</li>
				<li class="flex items-center text-xl">
					<span class=" w-52">WalletName</span>
												<span class="mx-2">:</span>
												<span class="ml-9 text-gray-600">{agentData?.walletName}</span>
				</li>
				<li class="flex items-center text-xl">
					<span class=" w-52">CreationDate</span>
												<span class="mx-2">:</span>
												<span class="ml-9 text-gray-600">{agentData?.createDateTime}</span>
				</li>
			))
		:
		<ul>
			Wallet details are not avilable. Need to create wallet.
			</ul>

		}
	</ul>
	</div>:
	<p class="pl-4">
		
			Wallet details are not avilable. Need to create wallet.
			</p>
	}
	</div>
{orgData?.org_agents.length > 0 &&
	<div class="w-1/3 flex flex-col justify-center text-wrap p-2">
		<div class="h-auto flex-col items-center p-4">
		{	orgData?.org_agents &&
			
			<div
					class="bg-white p-4 border border-gray-200 rounded-lg shadow-sm dark:border-gray-700 overflow-hidden">
					<CustomQRCode
					client:load
							size={180}
							value={orgData?.org_agents[0]?.agent_invitations[0]?.connectionInvitation}
					/>
			</div>
		}
	</div>
	</div>}
</div>


