---
import { pathRoutes } from '../../config/pathRoutes';
import LayoutCommon from "../../app/LayoutCommon.astro";

import PublicOrganizationDetails from '../../components/organization/PublicOrganizationDetails';
import { PLATFORM_DATA } from '../../app/constants';

const { org } = Astro.params;
---

<LayoutCommon>

<div class="max-h-fit">
	<div class="w-full mx-0">
		<div class="flex px-3 py-2 justify-start">
			<div class="flex items-center justify-start">
				<a href={pathRoutes?.users?.dashboard} class="flex ml-2 md:mr-24">
					<img
						src={PLATFORM_DATA.logo}
						class="h-8 mr-3"
						alt={`${PLATFORM_DATA.name} Logo`}
					/>
					<span
						class="self-center text-xl font-semibold sm:text-2xl whitespace-nowrap dark:text-white"
						>{PLATFORM_DATA.name}</span
					>
				</a>
			</div>
		</div>
	</div>

	{
		org && <PublicOrganizationDetails client:visible orgSlug = {org}/>
	}

</div>
<LayoutCommon>