---
import { PLATFORM_DATA } from '../app/constants';
import { pathRoutes } from '../config/pathRoutes';
---

<astro>
	<div class="flex flex-col min-h-screen bg-white dark:bg-gray-900">
		<header>
			<nav
				class="bg-white border-gray-200 px-4 lg:px-6 py-2.5 dark:bg-gray-800"
			>
				<div
					class="flex flex-wrap justify-between items-center mx-auto max-w-screen-xl"
				>
				<div class="flex">
					<a href="/" class="flex items-center">
						<img
							src={`${PLATFORM_DATA.logo}`}
							class="mr-2 h-6 sm:h-9"
							alt={`${PLATFORM_DATA.name} Logo`}
						/>
						<span
							class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white"
						>
							{PLATFORM_DATA.name}</span
						>
					</a>
					<a
					href="/explore"
					class="text-gray-600 py-2 bg-white hover:bg-gray-100 focus:ring-4 focus:ring-gray-200 font-medium rounded-lg text-md px-4 lg:px-5 lg:py-2.5 ml-4 dark:bg-primary-600 dark:hover:bg-primary-700 focus:outline-none dark:focus:ring-primary-800"
					>Explore Organizations</a
				>
				</div>				
					<div class="flex items-center lg:order-2">
						
						<a href={PLATFORM_DATA.git} class="mr-3" target="_blank">
							<svg
								class="w-6 h-6 text-gray-800 dark:text-white"
								aria-hidden="true"
								xmlns="http://www.w3.org/2000/svg"
								fill="currentColor"
								viewBox="0 0 20 20"
							>
								<path
									fill-rule="evenodd"
									d="M10 .333A9.911 9.911 0 0 0 6.866 19.65c.5.092.678-.215.678-.477 0-.237-.01-1.017-.014-1.845-2.757.6-3.338-1.169-3.338-1.169a2.627 2.627 0 0 0-1.1-1.451c-.9-.615.07-.6.07-.6a2.084 2.084 0 0 1 1.518 1.021 2.11 2.11 0 0 0 2.884.823c.044-.503.268-.973.63-1.325-2.2-.25-4.516-1.1-4.516-4.9A3.832 3.832 0 0 1 4.7 7.068a3.56 3.56 0 0 1 .095-2.623s.832-.266 2.726 1.016a9.409 9.409 0 0 1 4.962 0c1.89-1.282 2.717-1.016 2.717-1.016.366.83.402 1.768.1 2.623a3.827 3.827 0 0 1 1.02 2.659c0 3.807-2.319 4.644-4.525 4.889a2.366 2.366 0 0 1 .673 1.834c0 1.326-.012 2.394-.012 2.72 0 .263.18.572.681.475A9.911 9.911 0 0 0 10 .333Z"
									clip-rule="evenodd"></path>
							</svg>
						</a>
						<a
							href={PLATFORM_DATA.support}
							class="mr-3"
							target="_blank"
						>
							<svg
								class="w-6 h-6 text-gray-800 dark:text-white"
								aria-hidden="true"
								xmlns="http://www.w3.org/2000/svg"
								fill="currentColor"
								viewBox="0 0 21 16"
							>
								<path
									d="M16.942 1.556a16.3 16.3 0 0 0-4.126-1.3 12.04 12.04 0 0 0-.529 1.1 15.175 15.175 0 0 0-4.573 0 11.585 11.585 0 0 0-.535-1.1 16.274 16.274 0 0 0-4.129 1.3A17.392 17.392 0 0 0 .182 13.218a15.785 15.785 0 0 0 4.963 2.521c.41-.564.773-1.16 1.084-1.785a10.63 10.63 0 0 1-1.706-.83c.143-.106.283-.217.418-.33a11.664 11.664 0 0 0 10.118 0c.137.113.277.224.418.33-.544.328-1.116.606-1.71.832a12.52 12.52 0 0 0 1.084 1.785 16.46 16.46 0 0 0 5.064-2.595 17.286 17.286 0 0 0-2.973-11.59ZM6.678 10.813a1.941 1.941 0 0 1-1.8-2.045 1.93 1.93 0 0 1 1.8-2.047 1.919 1.919 0 0 1 1.8 2.047 1.93 1.93 0 0 1-1.8 2.045Zm6.644 0a1.94 1.94 0 0 1-1.8-2.045 1.93 1.93 0 0 1 1.8-2.047 1.918 1.918 0 0 1 1.8 2.047 1.93 1.93 0 0 1-1.8 2.045Z"
								></path>
							</svg>
						</a>
						<a
							href={pathRoutes.auth.sinIn}
							class="ml-3 hover:bg-secondary-700 bg-transparent ring-2 text-black font-medium rounded-lg text-sm px-4 lg:px-5 py-2 lg:py-2.5 mr-2"
							>Sign in</a
						>
						<a
							href={pathRoutes.auth.signUp}
							class="text-white bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 font-medium rounded-lg text-sm px-4 lg:px-5 py-2 lg:py-2.5 mr-2 dark:bg-primary-600 dark:hover:bg-primary-700 focus:outline-none dark:focus:ring-primary-800"
							>Sign Up</a
						>
						<button
							data-collapse-toggle="mobile-menu-2"
							type="button"
							class="inline-flex items-center p-2 ml-1 text-sm text-gray-500 rounded-lg lg:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
							aria-controls="mobile-menu-2"
							aria-expanded="false"
						>
							<span class="sr-only">Open main menu</span>
							<svg
								class="w-6 h-6"
								fill="currentColor"
								viewBox="0 0 20 20"
								xmlns="http://www.w3.org/2000/svg"
								><path
									fill-rule="evenodd"
									d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
									clip-rule="evenodd"></path></svg
							>
							<svg
								class="hidden w-6 h-6"
								fill="currentColor"
								viewBox="0 0 20 20"
								xmlns="http://www.w3.org/2000/svg"
								><path
									fill-rule="evenodd"
									d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
									clip-rule="evenodd"></path></svg
							>
						</button>
					</div>
					<!-- <div
						class="hidden justify-between items-center w-full lg:flex lg:w-auto lg:order-1"
						id="mobile-menu-2"
					>
						<ul
							class="flex flex-col mt-4 font-medium lg:flex-row lg:space-x-8 lg:mt-0"
						>
							<li>
								<a
									href="/"
									class="block py-2 pr-4 pl-3 text-white rounded bg-primary-700 lg:bg-transparent lg:text-primary-700 lg:p-0 dark:text-white"
									aria-current="page">Home</a
								>
							</li>
							<li>
								<a
									href="https://discord.gg/w4hnQT7NJG"
									target="_blank"
									class="block py-2 pr-4 pl-3 text-gray-700 border-b border-gray-100 hover:bg-gray-50 lg:hover:bg-transparent lg:border-0 lg:hover:text-primary-700 lg:p-0 dark:text-gray-400 lg:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white lg:dark:hover:bg-transparent dark:border-gray-700"
									>Community</a
								>
							</li>
						</ul>
					</div> -->
				</div>
			</nav>
		</header>
		<main class="grow" transition:animate="slide">
			<section class="bg-white dark:bg-gray-900">
				<div
					class="py-8 px-4 mx-auto max-w-screen-xl text-center lg:py-16 lg:px-12"
				>
					<a
						href="https://github.com/credebl/platform/releases"
						class="inline-flex justify-between items-center py-1 px-1 pr-4 mb-7 text-sm text-gray-700 bg-gray-100 rounded-full dark:bg-gray-800 dark:text-white hover:bg-gray-200 dark:hover:bg-gray-700"
						role="alert"
					>
						<span
							class="text-xs bg-primary-600 rounded-full text-white px-4 py-1.5 mr-3"
							>New</span
						>
						<span class="text-sm font-medium"
							>CREDEBL 2.0 is out! See what's new</span
						>
						<svg
							class="ml-2 w-5 h-5"
							fill="currentColor"
							viewBox="0 0 20 20"
							xmlns="http://www.w3.org/2000/svg"
							><path
								fill-rule="evenodd"
								d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
								clip-rule="evenodd"></path></svg
						>
					</a>
					<h1
						class="mb-4 text-4xl font-extrabold tracking-tight leading-none text-gray-900 md:text-5xl lg:text-5xl dark:text-white"
					>
						Build Self-Sovereign Identity (SSI) solutions faster - for global
						scale.
					</h1>
					<p
						class="mt-10 mb-8 text-lg font-normal text-gray-500 lg:text-xl sm:px-16 xl:px-48 dark:text-gray-400"
					>
						CREDEBL aims to significantly reduce the tedious work required to
						build SSI solutions from scratch.
					</p>
					<div
						class="flex flex-col mt-10 mb-8 lg:mb-16 space-y-4 sm:flex-row sm:justify-center sm:space-y-0 sm:space-x-4"
					>
						<a
							href="https://docs.credebl.id"
							class="inline-flex justify-center items-center py-3 px-5 text-base font-medium text-center text-white rounded-lg bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 dark:focus:ring-primary-900"
						>
							Get Started
							<svg
								class="ml-2 -mr-1 w-5 h-5"
								fill="currentColor"
								viewBox="0 0 20 20"
								xmlns="http://www.w3.org/2000/svg"
								><path
									fill-rule="evenodd"
									d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
									clip-rule="evenodd"></path></svg
							>
						</a>
					</div>
				</div>
			</section>

			<!-- CTA Section -->
			<section class="bg-gray-50 dark:bg-gray-900">
				<div class="py-4 px-4 mx-auto max-w-screen-xl sm:py-4 lg:px-6">
					<div class="py-8 lg:py-4 mx-auto mb-8 lg:mb-16">
						<h2
							class="mb-4 text-4xl tracking-tight leading-tight text-center font-extrabold text-gray-900 dark:text-white"
						>
							Build trusted digital ecosystems using the SSI core.
						</h2>
						<p class="text-gray-500 sm:text-xl dark:text-gray-400 text-center">
							CREDEBL helps you build trusted digital ecosystems, by leveraging
							global standards of <a
								href="https://www.w3.org/TR/did-core/"
								target="_blank">W3C Decentralized Identifiers (DID)</a
							> & <a href="https://www.w3.org/TR/vc-data-model/" target="_blank"
								>Verifiable Credentials (VC)</a
							> standards.
						</p>
					</div>
					<div
						class="space-y-8 md:grid md:grid-cols-2 lg:grid-cols-3 md:gap-12 md:space-y-0"
					>
						<div>
							<div
								class="flex justify-center items-center mb-4 w-10 h-10 rounded-full bg-primary-100 lg:h-12 lg:w-12 dark:bg-primary-900"
							>
								<svg xmlns="http://www.w3.org/2000/svg" width="22" height="21" fill="none" viewBox="0 0 22 21">
											<path fill="#1F4EAD" d="M11.398.602c6.076 0 11 4.896 11 10.936 0 4.517-2.754 8.395-6.684 10.063l-2.77-7.164a3.275 3.275 0 0 0 1.754-2.9 3.29 3.29 0 0 0-3.3-3.28 3.29 3.29 0 0 0-3.3 3.28c0 1.259.712 2.35 1.756 2.901l-2.77 7.164C3.153 19.932.398 16.055.398 11.538c0-6.04 4.925-10.936 11-10.936Z"/>
										  </svg>
										  
							</div>
							<h3 class="mb-2 text-xl font-bold dark:text-white">
								Open Standards & Open Source
							</h3>
							<p class="text-gray-500 dark:text-gray-400">
								Built upon open standards of W3C Decentralized Identifiers,
								Verifiable Credentials, DIF Protocols & Hyperledger Aries.
							</p>
						</div>
						<div>
							<div
								class="flex justify-center items-center mb-4 w-10 h-10 rounded-full bg-primary-100 lg:h-12 lg:w-12 dark:bg-primary-900"
							>
							<svg xmlns="http://www.w3.org/2000/svg" width="25" height="24" fill="none" viewBox="0 0 27 26">
								<path fill="#1F4EAD" d="M12.383.034a2.515 2.515 0 0 0-1.903 1.788l-.062.217-.008 2.945-.008 2.945-2.498.01c-2.48.009-2.501.009-2.726.069a2.523 2.523 0 0 0-1.837 1.866c-.043.171-.046.643-.054 6.205l-.008 6.023H2.227c-.596 0-1.089.011-1.143.027a.689.689 0 0 0-.36.306c-.057.109-.06.144-.06.778.003.593.008.688.062.905.22.878.851 1.534 1.745 1.81l.198.062 5.46.008c3.78.006 5.519-.002 5.649-.021.748-.114 1.455-.64 1.81-1.341.119-.242.208-.57.236-.89.016-.189.027-2.44.027-5.944v-5.64l1.62-.009c1.612-.008 1.617-.008 1.731-.068a.689.689 0 0 0 .306-.36c.036-.125.036-1.482 0-1.707a2.476 2.476 0 0 0-1.696-1.959c-.38-.12-.574-.127-3.465-.127h-2.723V5.089c0-2.714.002-2.85.051-3.007a1.3 1.3 0 0 1 .68-.772l.176-.084 4.764-.008a688.87 688.87 0 0 1 4.76.002c0 .008-.043.103-.095.217a3.244 3.244 0 0 0-.154.43l-.062.226-.014 6.895c-.014 6.238-.019 6.907-.057 7.01-.17.441-.539.748-.991.823a1.246 1.246 0 0 1-1.366-.834c-.054-.163-.062-.258-.076-.821-.016-.629-.016-.64-.087-.737a.841.841 0 0 0-.143-.16c-.16-.124-.247-.133-1.526-.133h-1.2v1.22h1.753l.016.346c.02.434.084.667.312 1.122.005.014-.46.022-1.035.022h-1.046v1.222l2.27-.011c1.949-.008 2.293-.016 2.445-.051.92-.223 1.576-.84 1.86-1.748l.077-.239.008-5.914.005-5.912h1.58c.973 0 1.615-.011 1.674-.027a.62.62 0 0 0 .364-.282l.08-.133v-.816c0-.755-.005-.834-.062-1.056-.222-.88-.85-1.534-1.744-1.81l-.198-.062L18.6 0c-4.959-.003-6.075.003-6.218.033Zm12.203 1.232c.344.109.68.442.791.794.03.092.049.274.057.526l.014.387h-2.504l.01-.4c.012-.323.025-.429.074-.55.133-.347.442-.65.77-.754a1.47 1.47 0 0 1 .788-.003Zm-9.63 7.907a.27.27 0 0 1-.037.075c-.07.1-.201.458-.244.67-.038.184-.044.92-.044 6.95 0 4.725-.008 6.79-.03 6.903a1.299 1.299 0 0 1-.336.648c-.58.596-1.606.444-1.98-.29-.127-.25-.146-.371-.146-.96 0-.639-.022-.734-.204-.902a.652.652 0 0 0-.22-.135c-.072-.022-1.218-.03-3.66-.03H4.498v-5.89c0-3.804.01-5.94.027-6.034.043-.239.195-.515.374-.678.165-.151.412-.281.604-.32.15-.03 9.454-.037 9.454-.007Zm2.347.008c.385.07.712.322.897.69l.103.212.01.428.009.428H15.85v-.376c0-.29.01-.415.048-.54a1.25 1.25 0 0 1 .895-.829 1.01 1.01 0 0 1 .509-.013Zm-6.384 14.314c0 .38.128.93.274 1.176a.656.656 0 0 1 .052.103c0 .005-1.878.01-4.17.01-4.119 0-4.173 0-4.349-.054-.222-.07-.48-.26-.618-.458a1.234 1.234 0 0 1-.23-.701l-.016-.25h9.057v.174Z"/>
								<path fill="#1F4EAD" d="M5.85 10.747a.519.519 0 0 0-.163.154l-.062.103v1.03c0 1.143-.003 1.132.182 1.265l.089.063 3.66.008 3.66.005.09-.06a.794.794 0 0 0 .147-.138c.054-.076.056-.103.056-1.143 0-1.035-.002-1.068-.056-1.14a.74.74 0 0 0-.13-.13c-.074-.058-.084-.058-3.723-.063-3.563-.006-3.653-.006-3.75.046Zm6.806 1.287v.474h-6.15v-.948h6.15v.474Zm-6.801 2.643a.489.489 0 0 0-.157.14c-.055.08-.063.12-.055.26.008.15.022.182.103.266a.514.514 0 0 0 .19.122c.06.016 1.4.027 3.658.027 3.416 0 3.568-.003 3.674-.051.165-.076.24-.198.24-.388 0-.17-.05-.263-.202-.368l-.09-.06H9.583c-3.484 0-3.639.003-3.728.052Zm.065 1.733c-.17.052-.287.225-.287.425 0 .155.07.285.195.36.09.055.146.055 3.736.055h3.647l.09-.062a.415.415 0 0 0 .208-.336.421.421 0 0 0-.208-.399c-.095-.056-.117-.056-3.699-.062-1.98-.003-3.639.006-3.682.02Zm-.061 1.808a.507.507 0 0 0-.157.149c-.06.087-.068.125-.057.265.01.133.027.18.092.247.157.17-.079.16 3.836.16 3.439 0 3.59-.003 3.696-.052.165-.075.241-.197.241-.387 0-.165-.046-.255-.187-.358-.073-.057-.084-.057-3.722-.062-3.352-.005-3.658-.003-3.742.038Zm.064 1.758c-.195.07-.29.206-.29.414 0 .155.07.285.195.36.087.052.14.055 1.986.055H9.71l.097-.065a.418.418 0 0 0 .182-.401.406.406 0 0 0-.214-.334c-.09-.051-.147-.054-1.921-.06-1.496-.005-1.848 0-1.932.03ZM6.949.217a.589.589 0 0 0-.285.312c-.073.263-.002.42.312.685l.236.198-1.99.014-1.985.013-.176.063a1.633 1.633 0 0 0-.653.409 1.633 1.633 0 0 0-.41.653l-.062.176-.013 1.902-.014 1.902-.176-.225c-.217-.28-.309-.347-.501-.363a.5.5 0 0 0-.469.217c-.092.143-.111.374-.04.509.026.054.36.49.736.97.75.954.778.98 1.033.98.249 0 .287-.034 1.059-.966.393-.475.742-.916.775-.981a.44.44 0 0 0 .003-.437.505.505 0 0 0-.412-.292c-.222-.02-.347.054-.583.336l-.192.233V2.962l.065-.114c.127-.214.03-.206 2.143-.198l1.87.008-.236.185c-.257.2-.347.336-.347.523a.546.546 0 0 0 .542.525c.135-.002.3-.114 1.152-.783.95-.75.997-.796.997-1.04 0-.176-.05-.271-.217-.426C8.883 1.428 7.474.277 7.388.228a.642.642 0 0 0-.44-.01Zm16.746 17.277c-.138.063-.144.07-.957 1.055-.58.704-.682.84-.71.95a.481.481 0 0 0 .114.453c.117.133.212.173.393.173.2 0 .28-.048.496-.303a7.51 7.51 0 0 1 .193-.222c.013-.017.024.74.024 1.764v1.788l-.062.092a.544.544 0 0 1-.182.154l-.125.06-1.861-.005-1.861-.008.216-.171c.282-.222.358-.323.374-.496a.528.528 0 0 0-.317-.545.7.7 0 0 0-.409.014 23.88 23.88 0 0 0-.962.737c-.956.756-.989.788-.989 1.038 0 .243.044.292 1.024 1.102.496.41.935.754.976.764a.685.685 0 0 0 .4-.027.53.53 0 0 0 .229-.696c-.03-.06-.152-.19-.29-.303l-.233-.198 2.015-.014 2.016-.013.187-.076c.412-.163.702-.426.897-.805.168-.33.16-.23.176-2.303l.014-1.91.184.23c.23.285.333.352.534.352a.49.49 0 0 0 .417-.2.54.54 0 0 0 .046-.545c-.03-.051-.363-.485-.737-.962-.56-.712-.702-.875-.797-.92a.497.497 0 0 0-.433-.004Z"/>
							</svg>
							
							</div>
							<h3 class="mb-2 text-xl font-bold dark:text-white">
								Ledger-agnostic & Ledger-less
							</h3>
							<p class="text-gray-500 dark:text-gray-400">
								Supports multiple ledgers such as Indy, Cheqd, Polygon. Also
								issue ledger-less VCs using did methods like did:web, did:peer,
								did:key
							</p>
						</div>
						<div>
							<div
								class="flex justify-center items-center mb-4 w-10 h-10 rounded-full bg-primary-100 lg:h-12 lg:w-12 dark:bg-primary-900"
							>
							<svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" fill="none" viewBox="0 0 24 24">
								<path fill="#1F4EAD" d="M7.5 0h-4C1.57 0 0 1.57 0 3.5V11h11V3.5C11 1.57 9.43 0 7.5 0ZM8 8H3V3.5c0-.28.22-.5.5-.5h4c.28 0 .5.22.5.5V8Zm12.5 5h-4c-1.93 0-3.5 1.57-3.5 3.5V24h11v-7.5c0-1.93-1.57-3.5-3.5-3.5Zm.5 8h-5v-4.5c0-.28.22-.5.5-.5h4c.28 0 .5.22.5.5V21Zm3-13v3h-3V8c0-.55-.45-1-1-1h-2v3.56l-4.17-4.27c-.44-.44-.44-1.15 0-1.59L18 .44V4h2c2.21 0 4 1.79 4 4Zm-13.83 9.64c.44.44.44 1.15 0 1.59L6 23.5V20H4c-2.21 0-4-1.79-4-4v-3h3v3c0 .55.45 1 1 1h2v-3.62l4.17 4.27v-.01Z"/>
							</svg>
							</div>
							<h3 class="mb-2 text-xl font-bold dark:text-white">
								Multiple credential exchange formats
							</h3>
							<p class="text-gray-500 dark:text-gray-400">
								Supports multiple verifiable credential exchange formats such as
								AnonCreds, JSON-LD, JWT, etc.
							</p>
						</div>
						<div>
							<div
								class="flex justify-center items-center mb-4 w-10 h-10 rounded-full bg-primary-100 lg:h-12 lg:w-12 dark:bg-primary-900"
							>
							<svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="none" viewBox="0 0 24 24">
								<g clip-path="url(#a)">
									<path fill="#255ED0" d="M10.121 8.899c.186-.124.415-.236.68-.32v2.037a2.762 2.762 0 0 1-.68-.32c-.435-.291-.52-.562-.52-.7 0-.136.085-.407.52-.697Zm3.08 6.517v-2.038c.265.085.495.197.681.32.437.292.52.562.52.699 0 .137-.084.408-.52.698-.211.138-.44.245-.68.32Z"/>
									<path fill="#1F4EAD" d="m12.559 10.964 8.374 7.998-5.931 5.085c-1.482 1.27-3.52 1.27-5 0l-6.39-5.477a2.88 2.88 0 0 0-1.874-.714h-.695c-.576 0-1.043-.533-1.043-1.19V3.494c0-.605.395-1.108.92-1.176 1.414-.18 2.687-.829 3.99-1.696 1.873-1.1 4.33-.708 5.85.92l.643.706-4.175 4.656c-1.117 1.276-1.295 3.294-.414 4.688.542.861 1.522 1.5 2.546 1.5.826 0 1.619-.372 2.192-1.028l1.007-1.101ZM20.786.622c-1.76-1.006-3.956-.744-5.53.653L8.692 8.599c-.386.443-.474 1.152-.189 1.604.188.298.46.476.77.506a.962.962 0 0 0 .821-.345l3.769-4.083c.989-1.072 2.421.64 1.44 1.72l-1.23 1.307 8.952 8.55h.934c.575 0 1.042-.534 1.042-1.191V3.454c0-.584-.373-1.066-.876-1.17-1.765-.364-3.339-1.66-3.339-1.66l.001-.002Z"/>
								</g>
								<defs>
									<clipPath id="a">
										<path fill="#fff" d="M0 0h24v24H0z"/>
									</clipPath>
								</defs>
							</svg>
							
							</div>
							<h3 class="mb-2 text-xl font-bold dark:text-white">
								Digital Public Good (DPG)
							</h3>
							<p class="text-gray-500 dark:text-gray-400">
								CREDEBL is an open-souce Digital Public Good (DPG), designed to
								host Digital Public Infrastructure (DPI) for trusted digital
								ecosystems.
							</p>
						</div>
						<div>
							<div
								class="flex justify-center items-center mb-4 w-10 h-10 rounded-full bg-primary-100 lg:h-12 lg:w-12 dark:bg-primary-900"
							>
							<svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="none" viewBox="0 0 25 25">
								<path fill="#1F4EAD" d="M22.466 22.988h-8.924a1.698 1.698 0 0 0-.355-.731 1.333 1.333 0 0 0-.62-.42v-3.821h-.683v3.822a1.333 1.333 0 0 0-.62.419 1.698 1.698 0 0 0-.356.73H1.984v.806h8.924c.075.345.245.651.483.87.239.218.532.337.834.337.302 0 .596-.119.834-.337.239-.219.409-.525.483-.87h8.924v-.805Zm-10.24 1.207a.612.612 0 0 1-.38-.135.79.79 0 0 1-.252-.362.94.94 0 0 1-.038-.465.859.859 0 0 1 .187-.412.659.659 0 0 1 .349-.22.588.588 0 0 1 .394.046.721.721 0 0 1 .307.296.91.91 0 0 1 .115.447.884.884 0 0 1-.2.57.635.635 0 0 1-.483.235Z"/>
								<path fill="#1F4EAD" d="M19.357 12.475h.447v-1.053H4.625v1.053h.446c.356 0 .696.166.947.462.252.296.393.698.393 1.117 0 .418-.141.82-.393 1.116a1.245 1.245 0 0 1-.947.463h-.446v3.158h15.179v-3.158h-.447c-.355 0-.696-.167-.947-.463a1.734 1.734 0 0 1-.392-1.116c0-.42.141-.82.392-1.117.251-.296.592-.462.947-.462Zm-9.375 3.684c0 .28-.094.547-.261.745a.83.83 0 0 1-.632.308h-.893a.83.83 0 0 1-.63-.308 1.155 1.155 0 0 1-.262-.745v-2.105c0-.28.094-.547.261-.745a.83.83 0 0 1 .631-.308h.893a.83.83 0 0 1 .632.308c.167.198.261.466.261.745v2.105Zm3.572 0c0 .28-.095.547-.262.745a.83.83 0 0 1-.631.308h-.893a.83.83 0 0 1-.632-.308 1.156 1.156 0 0 1-.261-.745v-2.105c0-.28.094-.547.261-.745a.83.83 0 0 1 .632-.308h.893a.83.83 0 0 1 .631.308c.168.198.262.466.262.745v2.105Zm3.571 0c0 .28-.094.547-.262.745a.83.83 0 0 1-.63.308h-.894a.83.83 0 0 1-.631-.308 1.156 1.156 0 0 1-.262-.745v-2.105c0-.28.095-.547.262-.745a.83.83 0 0 1 .631-.308h.893a.83.83 0 0 1 .631.308c.168.198.262.466.262.745v2.105Z"/>
								<path fill="#1F4EAD" d="M2.232 14.212h2.232a.415.415 0 0 1-.315-.154.578.578 0 0 1-.131-.372V11.58a.58.58 0 0 1 .13-.372.415.415 0 0 1 .316-.154h16.072c.118 0 .232.055.315.154a.578.578 0 0 1 .131.372v2.106a.58.58 0 0 1-.13.372.415.415 0 0 1-.316.154c1.184 0 2.32-.554 3.156-1.542C24.53 11.683 25 10.345 25 8.948c0-1.396-.47-2.734-1.308-3.721-.837-.988-1.972-1.542-3.156-1.542h-.273a.402.402 0 0 1-.257-.097.527.527 0 0 1-.164-.254c-.28-.939-.792-1.757-1.47-2.35-.677-.593-1.49-.934-2.333-.979a3.749 3.749 0 0 0-2.398.727c-.72.519-1.293 1.279-1.644 2.184a.522.522 0 0 1-.133.196.416.416 0 0 1-.195.102.382.382 0 0 1-.213-.017.44.44 0 0 1-.181-.131c-.592-.705-1.347-1.187-2.17-1.384a3.645 3.645 0 0 0-2.457.274c-.778.377-1.443 1.017-1.911 1.84a5.655 5.655 0 0 0-.72 2.784v1.842c0 .14-.046.274-.13.372a.415.415 0 0 1-.316.154H2.232c-.592 0-1.16.278-1.578.771C.235 10.213 0 10.882 0 11.58s.235 1.368.654 1.861c.418.494.986.771 1.578.771Zm20.982-3.684h-.893V9.475h.893v1.053Zm-2.678-5.264c.71 0 1.39.334 1.893.926.502.592.785 1.395.785 2.232h-.893a2.31 2.31 0 0 0-.523-1.489c-.334-.395-.789-.616-1.262-.616V5.264Z"/>
							</svg>
								</div>
							<h3 class="mb-2 text-xl font-bold dark:text-white">
								Self-host on your cloud infra
							</h3>
							<p class="text-gray-500 dark:text-gray-400">
								You can self-host the entire CREDEBL platform and it's
								components on your organization's cloud infrastructure of
								choice.
							</p>
						</div>
						<div>
							<div
								class="flex justify-center items-center mb-4 w-10 h-10 rounded-full bg-primary-100 lg:h-12 lg:w-12 dark:bg-primary-900"
							>
							<svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="none" viewBox="0 0 25 24">
								<path fill="#1F4EAD" d="M6.328 18h7v6h-13V14a3 3 0 0 1 3-3h3v7Zm4-5h-2v3h3v-2a1 1 0 0 0-1-1Zm11-13h-12a3 3 0 0 0-3 3v8h4a2.95 2.95 0 0 1 1.285.3l5.3-5.3h-3.585V4h7v7h-2V7.414l-5.3 5.3c.196.4.299.84.3 1.286v4h11V3a3 3 0 0 0-3-3Z"/>
							</svg>
							
							</div>
							<h3 class="mb-2 text-xl font-bold dark:text-white">
								Enterprise Grade, Large Scale
							</h3>
							<p class="text-gray-500 dark:text-gray-400">
								Build for large scale using highly scalable micro-services
								architecture, and asynchronous message-driven communication.
							</p>
						</div>
					</div>
				</div>
			</section>

			<section>
				<div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
					<div
						class="mx-auto flex w-full max-w-7xl flex-col items-center gap-12"
					>
						<div
							class="flex max-w-2xl flex-col items-center justify-center gap-4"
						>
							<h2
								class="text-center text-3xl font-extrabold tracking-tight text-gray-900 dark:text-white lg:text-4xl"
							>
								In-CREDEBL Team
							</h2>
							<p class="text-lg text-gray-500 dark:text-gray-400 text-center">
								Join our team & a community of open-source contributors by
								tuning in with the CREDEBL Discord channel and become one of the
								highlighted members.
							</p>
						</div>
						<div class="flex max-w-5xl flex-col gap-3 px-4 lg:px-8">
							<div class="flex flex-wrap items-center justify-center gap-3">
								<div class="w-fit" data-testid="flowbite-tooltip-target">
									<a class="cursor-pointer" href="https://github.com/ajile-in">
										<img
											src="https://avatars.githubusercontent.com/u/1891293?v=4"
											alt="ajile-in avatar"
											class="h-10 w-10 rounded-full bg-gray-100 text-gray-600 dark:bg-gray-600 dark:text-gray-300 sm:h-12 sm:w-12 lg:h-16 lg:w-16"
										/></a
									>
								</div>
								<div
									data-testid="flowbite-tooltip"
									tabindex="-1"
									class="absolute inline-block z-10 rounded-lg py-2 px-3 text-sm font-medium shadow-sm transition-opacity duration-300 invisible opacity-0 bg-gray-900 text-white dark:bg-gray-700"
									id=":r0:"
									role="tooltip"
									style="position: absolute;"
								>
									<div class="relative z-20">ajile-in</div>
									<div
										class="absolute z-10 h-2 w-2 rotate-45 bg-gray-900 dark:bg-gray-700"
										data-testid="flowbite-tooltip-arrow"
										style="bottom: -4px; left: 61.5px;"
									>
										&nbsp;
									</div>
								</div>
								<div class="w-fit" data-testid="flowbite-tooltip-target">
									<a
										class="cursor-pointer"
										href="https://github.com/kkkulkarni"
									>
										<img
											src="https://avatars.githubusercontent.com/u/24851339?v=4"
											alt="kkkulkarni avatar"
											class="h-10 w-10 rounded-full bg-gray-100 text-gray-600 dark:bg-gray-600 dark:text-gray-300 sm:h-12 sm:w-12 lg:h-16 lg:w-16"
										/></a
									>
								</div>
								<div
									data-testid="flowbite-tooltip"
									tabindex="-1"
									class="absolute inline-block z-10 rounded-lg py-2 px-3 text-sm font-medium shadow-sm transition-opacity duration-300 invisible opacity-0 bg-gray-900 text-white dark:bg-gray-700"
									id=":r0:"
									role="tooltip"
									style="position: absolute;"
								>
									<div class="relative z-20">kkkulkarni</div>
									<div
										class="absolute z-10 h-2 w-2 rotate-45 bg-gray-900 dark:bg-gray-700"
										data-testid="flowbite-tooltip-arrow"
										style="bottom: -4px; left: 61.5px;"
									>
										&nbsp;
									</div>
								</div>

								<div class="w-fit" data-testid="flowbite-tooltip-target">
									<a
										class="cursor-pointer"
										href="https://github.com/amitayanworks"
										><img
											src="https://avatars.githubusercontent.com/u/142207827?v=4"
											alt="amitayanworks avatar"
											class="h-10 w-10 rounded-full bg-gray-100 text-gray-600 dark:bg-gray-600 dark:text-gray-300 sm:h-12 sm:w-12 lg:h-16 lg:w-16"
										/></a
									>
								</div>
								<div
									data-testid="flowbite-tooltip"
									tabindex="-1"
									class="absolute inline-block z-10 rounded-lg py-2 px-3 text-sm font-medium shadow-sm transition-opacity duration-300 invisible opacity-0 bg-gray-900 text-white dark:bg-gray-700"
									id=":r8:"
									role="tooltip"
									style="position: absolute;"
								>
									<div class="relative z-20">amitayanworks</div>
									<div
										class="absolute z-10 h-2 w-2 rotate-45 bg-gray-900 dark:bg-gray-700"
										data-testid="flowbite-tooltip-arrow"
										style="bottom: -4px; left: 44px;"
									>
										&nbsp;
									</div>
								</div>
								<div class="w-fit" data-testid="flowbite-tooltip-target">
									<a
										class="cursor-pointer"
										href="https://github.com/nishad-ayanworks"
									>
										<img
											src="https://avatars.githubusercontent.com/u/103021375?v=4"
											alt="nishad-ayanworks avatar"
											class="h-10 w-10 rounded-full bg-gray-100 text-gray-600 dark:bg-gray-600 dark:text-gray-300 sm:h-12 sm:w-12 lg:h-16 lg:w-16"
										/></a
									>
								</div>
								<div
									data-testid="flowbite-tooltip"
									tabindex="-1"
									class="absolute inline-block z-10 rounded-lg py-2 px-3 text-sm font-medium shadow-sm transition-opacity duration-300 invisible opacity-0 bg-gray-900 text-white dark:bg-gray-700"
									id=":r2:"
									role="tooltip"
									style="position: absolute; "
								>
									<div class="relative z-20">nishad-ayanworks</div>
									<div
										class="absolute z-10 h-2 w-2 rotate-45 bg-gray-900 dark:bg-gray-700"
										data-testid="flowbite-tooltip-arrow"
										style="bottom: -4px; left: 45px;"
									>
										&nbsp;
									</div>
								</div>
								<div class="w-fit" data-testid="flowbite-tooltip-target">
									<a
										class="cursor-pointer"
										href="https://github.com/KulkarniShashank"
										><img
											src="https://avatars.githubusercontent.com/u/44693969?v=4"
											alt="KulkarniShashank avatar"
											class="h-10 w-10 rounded-full bg-gray-100 text-gray-600 dark:bg-gray-600 dark:text-gray-300 sm:h-12 sm:w-12 lg:h-16 lg:w-16"
										/></a
									>
								</div>
								<div
									data-testid="flowbite-tooltip"
									tabindex="-1"
									class="absolute inline-block z-10 rounded-lg py-2 px-3 text-sm font-medium shadow-sm transition-opacity duration-300 invisible opacity-0 bg-gray-900 text-white dark:bg-gray-700"
									id=":r4:"
									role="tooltip"
									style="position: absolute;"
								>
									<div class="relative z-20">KulkarniShashank</div>
									<div
										class="absolute z-10 h-2 w-2 rotate-45 bg-gray-900 dark:bg-gray-700"
										data-testid="flowbite-tooltip-arrow"
										style="bottom: -4px; left: 44px;"
									>
										&nbsp;
									</div>
								</div>
								<div class="w-fit" data-testid="flowbite-tooltip-target">
									<a
										class="cursor-pointer"
										href="https://github.com/tipusinghaw"
										><img
											src="https://avatars.githubusercontent.com/u/126460794?v=4"
											alt="tipusinghaw avatar"
											class="h-10 w-10 rounded-full bg-gray-100 text-gray-600 dark:bg-gray-600 dark:text-gray-300 sm:h-12 sm:w-12 lg:h-16 lg:w-16"
										/></a
									>
								</div>
								<div
									data-testid="flowbite-tooltip"
									tabindex="-1"
									class="absolute inline-block z-10 rounded-lg py-2 px-3 text-sm font-medium shadow-sm transition-opacity duration-300 invisible opacity-0 bg-gray-900 text-white dark:bg-gray-700"
									id=":ra:"
									role="tooltip"
									style="position: absolute;"
								>
									<div class="relative z-20">tipusinghaw</div>
									<div
										class="absolute z-10 h-2 w-2 rotate-45 bg-gray-900 dark:bg-gray-700"
										data-testid="flowbite-tooltip-arrow"
										style="bottom: -4px; left: 50.5px;"
									>
										&nbsp;
									</div>
								</div>

								<div class="w-fit" data-testid="flowbite-tooltip-target">
									<a
										class="cursor-pointer"
										href="https://github.com/vivekayanworks"
										><img
											src="https://avatars.githubusercontent.com/u/88733247?v=4"
											alt="vivekayanworks avatar"
											class="h-10 w-10 rounded-full bg-gray-100 text-gray-600 dark:bg-gray-600 dark:text-gray-300 sm:h-12 sm:w-12 lg:h-16 lg:w-16"
										/></a
									>
								</div>
								<div
									data-testid="flowbite-tooltip"
									tabindex="-1"
									class="absolute inline-block z-10 rounded-lg py-2 px-3 text-sm font-medium shadow-sm transition-opacity duration-300 invisible opacity-0 bg-gray-900 text-white dark:bg-gray-700"
									id=":rc:"
									role="tooltip"
									style="position: absolute;"
								>
									<div class="relative z-20">vivekayanworks</div>
									<div
										class="absolute z-10 h-2 w-2 rotate-45 bg-gray-900 dark:bg-gray-700"
										data-testid="flowbite-tooltip-arrow"
										style="bottom: -4px; left: 41.5px;"
									>
										&nbsp;
									</div>
								</div>
								<div class="w-fit" data-testid="flowbite-tooltip-target">
									<a
										class="cursor-pointer"
										href="https://github.com/Sheetal-ayanworks"
										><img
											src="https://avatars.githubusercontent.com/u/125483294?v=4"
											alt="Sheetal-ayanworks avatar"
											class="h-10 w-10 rounded-full bg-gray-100 text-gray-600 dark:bg-gray-600 dark:text-gray-300 sm:h-12 sm:w-12 lg:h-16 lg:w-16"
										/></a
									>
								</div>
								<div
									data-testid="flowbite-tooltip"
									tabindex="-1"
									class="absolute inline-block z-10 rounded-lg py-2 px-3 text-sm font-medium shadow-sm transition-opacity duration-300 invisible opacity-0 bg-gray-900 text-white dark:bg-gray-700"
									id=":re:"
									role="tooltip"
									style="position: absolute;"
								>
									<div class="relative z-20">Sheetal-ayanworks</div>
									<div
										class="absolute z-10 h-2 w-2 rotate-45 bg-gray-900 dark:bg-gray-700"
										data-testid="flowbite-tooltip-arrow"
										style="bottom: -4px; left: 40.5px;"
									>
										&nbsp;
									</div>
								</div>

								<div class="w-fit" data-testid="flowbite-tooltip-target">
									<a
										class="cursor-pointer"
										href="https://github.com/amitpadmani-awts"
										><img
											src="https://avatars.githubusercontent.com/u/27995665?v=4"
											alt="amitpadmani-awts avatar"
											class="h-10 w-10 rounded-full bg-gray-100 text-gray-600 dark:bg-gray-600 dark:text-gray-300 sm:h-12 sm:w-12 lg:h-16 lg:w-16"
										/></a
									>
								</div>
								<div
									data-testid="flowbite-tooltip"
									tabindex="-1"
									class="absolute inline-block z-10 rounded-lg py-2 px-3 text-sm font-medium shadow-sm transition-opacity duration-300 invisible opacity-0 bg-gray-900 text-white dark:bg-gray-700"
									id=":rg:"
									role="tooltip"
									style="position: absolute;"
								>
									<div class="relative z-20">amitpadmani-awts</div>
									<div
										class="absolute z-10 h-2 w-2 rotate-45 bg-gray-900 dark:bg-gray-700"
										data-testid="flowbite-tooltip-arrow"
										style="bottom: -4px; left: 40px;"
									>
										&nbsp;
									</div>
								</div>

								<div class="w-fit" data-testid="flowbite-tooltip-target">
									<a class="cursor-pointer" href="https://github.com/sairanjit"
										><img
											src="https://avatars.githubusercontent.com/u/34263716?v=4"
											alt="sairanjit avatar"
											class="h-10 w-10 rounded-full bg-gray-100 text-gray-600 dark:bg-gray-600 dark:text-gray-300 sm:h-12 sm:w-12 lg:h-16 lg:w-16"
										/></a
									>
								</div>
								<div
									data-testid="flowbite-tooltip"
									tabindex="-1"
									class="absolute inline-block z-10 rounded-lg py-2 px-3 text-sm font-medium shadow-sm transition-opacity duration-300 invisible opacity-0 bg-gray-900 text-white dark:bg-gray-700"
									id=":rg:"
									role="tooltip"
									style="position: absolute;"
								>
									<div class="relative z-20">sairanjit</div>
									<div
										class="absolute z-10 h-2 w-2 rotate-45 bg-gray-900 dark:bg-gray-700"
										data-testid="flowbite-tooltip-arrow"
										style="bottom: -4px; left: 40px;"
									>
										&nbsp;
									</div>
								</div>

								<div class="w-fit" data-testid="flowbite-tooltip-target">
									<a
										class="cursor-pointer"
										href="https://github.com/makrandshinde"
										><img
											src="https://avatars.githubusercontent.com/u/131651805?v=4"
											alt="makrandshinde avatar"
											class="h-10 w-10 rounded-full bg-gray-100 text-gray-600 dark:bg-gray-600 dark:text-gray-300 sm:h-12 sm:w-12 lg:h-16 lg:w-16"
										/></a
									>
								</div>
								<div
									data-testid="flowbite-tooltip"
									tabindex="-1"
									class="absolute inline-block z-10 rounded-lg py-2 px-3 text-sm font-medium shadow-sm transition-opacity duration-300 invisible opacity-0 bg-gray-900 text-white dark:bg-gray-700"
									id=":rg:"
									role="tooltip"
									style="position: absolute;"
								>
									<div class="relative z-20">makrandshinde</div>
									<div
										class="absolute z-10 h-2 w-2 rotate-45 bg-gray-900 dark:bg-gray-700"
										data-testid="flowbite-tooltip-arrow"
										style="bottom: -4px; left: 40px;"
									>
										&nbsp;
									</div>
								</div>

								<div class="w-fit" data-testid="flowbite-tooltip-target">
									<a
										class="cursor-pointer"
										href="https://github.com/poonam-ghewande"
										><img
											src="https://avatars.githubusercontent.com/u/133869533?v=4"
											alt="poonam-ghewande avatar"
											class="h-10 w-10 rounded-full bg-gray-100 text-gray-600 dark:bg-gray-600 dark:text-gray-300 sm:h-12 sm:w-12 lg:h-16 lg:w-16"
										/></a
									>
								</div>
								<div
									data-testid="flowbite-tooltip"
									tabindex="-1"
									class="absolute inline-block z-10 rounded-lg py-2 px-3 text-sm font-medium shadow-sm transition-opacity duration-300 invisible opacity-0 bg-gray-900 text-white dark:bg-gray-700"
									id=":rg:"
									role="tooltip"
									style="position: absolute;"
								>
									<div class="relative z-20">poonam-ghewande</div>
									<div
										class="absolute z-10 h-2 w-2 rotate-45 bg-gray-900 dark:bg-gray-700"
										data-testid="flowbite-tooltip-arrow"
										style="bottom: -4px; left: 40px;"
									>
										&nbsp;
									</div>
								</div>

								<div class="w-fit" data-testid="flowbite-tooltip-target">
									<a
										class="cursor-pointer"
										href="https://github.com/yogeshayanworks"
										><img
											src="https://avatars.githubusercontent.com/u/107561764?v=4"
											alt="yogeshayanworks avatar"
											class="h-10 w-10 rounded-full bg-gray-100 text-gray-600 dark:bg-gray-600 dark:text-gray-300 sm:h-12 sm:w-12 lg:h-16 lg:w-16"
										/></a
									>
								</div>
								<div
									data-testid="flowbite-tooltip"
									tabindex="-1"
									class="absolute inline-block z-10 rounded-lg py-2 px-3 text-sm font-medium shadow-sm transition-opacity duration-300 invisible opacity-0 bg-gray-900 text-white dark:bg-gray-700"
									id=":r6:"
									role="tooltip"
									style="position: absolute;"
								>
									<div class="relative z-20">yogeshayanworks</div>
									<div
										class="absolute z-10 h-2 w-2 rotate-45 bg-gray-900 dark:bg-gray-700"
										data-testid="flowbite-tooltip-arrow"
										style="bottom: -4px; left: 43.5px;"
									>
										&nbsp;
									</div>
								</div>

								<div class="w-fit" data-testid="flowbite-tooltip-target">
									<a class="cursor-pointer" href="https://github.com/16-karan"
										><img
											src="https://avatars.githubusercontent.com/u/141734327?v=4"
											alt="16-karan avatar"
											class="h-10 w-10 rounded-full bg-gray-100 text-gray-600 dark:bg-gray-600 dark:text-gray-300 sm:h-12 sm:w-12 lg:h-16 lg:w-16"
										/></a
									>
								</div>
								<div
									data-testid="flowbite-tooltip"
									tabindex="-1"
									class="absolute inline-block z-10 rounded-lg py-2 px-3 text-sm font-medium shadow-sm transition-opacity duration-300 invisible opacity-0 bg-gray-900 text-white dark:bg-gray-700"
									id=":r6:"
									role="tooltip"
									style="position: absolute;"
								>
									<div class="relative z-20">16-karan</div>
									<div
										class="absolute z-10 h-2 w-2 rotate-45 bg-gray-900 dark:bg-gray-700"
										data-testid="flowbite-tooltip-arrow"
										style="bottom: -4px; left: 43.5px;"
									>
										&nbsp;
									</div>
								</div>

								<div class="w-fit" data-testid="flowbite-tooltip-target">
									<a class="cursor-pointer" href="https://github.com/Girish9960"
										><img
											src="https://avatars.githubusercontent.com/u/126439771?v=4"
											alt="Girish9960 avatar"
											class="h-10 w-10 rounded-full bg-gray-100 text-gray-600 dark:bg-gray-600 dark:text-gray-300 sm:h-12 sm:w-12 lg:h-16 lg:w-16"
										/></a
									>
								</div>
								<div
									data-testid="flowbite-tooltip"
									tabindex="-1"
									class="absolute inline-block z-10 rounded-lg py-2 px-3 text-sm font-medium shadow-sm transition-opacity duration-300 invisible opacity-0 bg-gray-900 text-white dark:bg-gray-700"
									id=":r6:"
									role="tooltip"
									style="position: absolute;"
								>
									<div class="relative z-20">Girish9960</div>
									<div
										class="absolute z-10 h-2 w-2 rotate-45 bg-gray-900 dark:bg-gray-700"
										data-testid="flowbite-tooltip-arrow"
										style="bottom: -4px; left: 43.5px;"
									>
										&nbsp;
									</div>
								</div>

								<div class="w-fit" data-testid="flowbite-tooltip-target">
									<a
										class="cursor-pointer"
										href="https://github.com/bhavanakarwade"
										><img
											src="https://avatars.githubusercontent.com/u/137506897?v=4"
											alt="bhavanakarwade avatar"
											class="h-10 w-10 rounded-full bg-gray-100 text-gray-600 dark:bg-gray-600 dark:text-gray-300 sm:h-12 sm:w-12 lg:h-16 lg:w-16"
										/></a
									>
								</div>
								<div
									data-testid="flowbite-tooltip"
									tabindex="-1"
									class="absolute inline-block z-10 rounded-lg py-2 px-3 text-sm font-medium shadow-sm transition-opacity duration-300 invisible opacity-0 bg-gray-900 text-white dark:bg-gray-700"
									id=":r6:"
									role="tooltip"
									style="position: absolute;"
								>
									<div class="relative z-20">bhavanakarwade</div>
									<div
										class="absolute z-10 h-2 w-2 rotate-45 bg-gray-900 dark:bg-gray-700"
										data-testid="flowbite-tooltip-arrow"
										style="bottom: -4px; left: 43.5px;"
									>
										&nbsp;
									</div>
								</div>

								<div class="w-fit" data-testid="flowbite-tooltip-target">
									<a class="cursor-pointer" href="https://github.com/sunilbade"
										><img
											src="https://avatars.githubusercontent.com/u/126459604?v=4"
											alt="sunilbade avatar"
											class="h-10 w-10 rounded-full bg-gray-100 text-gray-600 dark:bg-gray-600 dark:text-gray-300 sm:h-12 sm:w-12 lg:h-16 lg:w-16"
										/></a
									>
								</div>
								<div
									data-testid="flowbite-tooltip"
									tabindex="-1"
									class="absolute inline-block z-10 rounded-lg py-2 px-3 text-sm font-medium shadow-sm transition-opacity duration-300 invisible opacity-0 bg-gray-900 text-white dark:bg-gray-700"
									id=":r6:"
									role="tooltip"
									style="position: absolute;"
								>
									<div class="relative z-20">sunilbade</div>
									<div
										class="absolute z-10 h-2 w-2 rotate-45 bg-gray-900 dark:bg-gray-700"
										data-testid="flowbite-tooltip-arrow"
										style="bottom: -4px; left: 43.5px;"
									>
										&nbsp;
									</div>
								</div>

								<div class="w-fit" data-testid="flowbite-tooltip-target">
									<a
										class="cursor-pointer"
										href="https://github.com/sayali-chavan96"
										><img
											src="https://avatars.githubusercontent.com/u/133863994?v=4"
											alt="sayali-chavan96 avatar"
											class="h-10 w-10 rounded-full bg-gray-100 text-gray-600 dark:bg-gray-600 dark:text-gray-300 sm:h-12 sm:w-12 lg:h-16 lg:w-16"
										/></a
									>
								</div>
								<div
									data-testid="flowbite-tooltip"
									tabindex="-1"
									class="absolute inline-block z-10 rounded-lg py-2 px-3 text-sm font-medium shadow-sm transition-opacity duration-300 invisible opacity-0 bg-gray-900 text-white dark:bg-gray-700"
									id=":r6:"
									role="tooltip"
									style="position: absolute;"
								>
									<div class="relative z-20">sayali-chavan96</div>
									<div
										class="absolute z-10 h-2 w-2 rotate-45 bg-gray-900 dark:bg-gray-700"
										data-testid="flowbite-tooltip-arrow"
										style="bottom: -4px; left: 43.5px;"
									>
										&nbsp;
									</div>
								</div>

								<div class="w-fit" data-testid="flowbite-tooltip-target">
									<a
										class="cursor-pointer"
										href="https://github.com/MoulikaKulkarni"
										><img
											src="https://avatars.githubusercontent.com/u/143073666?v=4"
											alt="MoulikaKulkarni avatar"
											class="h-10 w-10 rounded-full bg-gray-100 text-gray-600 dark:bg-gray-600 dark:text-gray-300 sm:h-12 sm:w-12 lg:h-16 lg:w-16"
										/></a
									>
								</div>
								<div
									data-testid="flowbite-tooltip"
									tabindex="-1"
									class="absolute inline-block z-10 rounded-lg py-2 px-3 text-sm font-medium shadow-sm transition-opacity duration-300 invisible opacity-0 bg-gray-900 text-white dark:bg-gray-700"
									id=":r6:"
									role="tooltip"
									style="position: absolute;"
								>
									<div class="relative z-20">MoulikaKulkarni</div>
									<div
										class="absolute z-10 h-2 w-2 rotate-45 bg-gray-900 dark:bg-gray-700"
										data-testid="flowbite-tooltip-arrow"
										style="bottom: -4px; left: 43.5px;"
									>
										&nbsp;
									</div>
								</div>

								<div class="w-fit" data-testid="flowbite-tooltip-target">
									<a
										class="cursor-pointer"
										href="https://github.com/ashwini-aher"
										><img
											src="https://avatars.githubusercontent.com/u/126259838?v=4"
											alt="ashwini-aher avatar"
											class="h-10 w-10 rounded-full bg-gray-100 text-gray-600 dark:bg-gray-600 dark:text-gray-300 sm:h-12 sm:w-12 lg:h-16 lg:w-16"
										/></a
									>
								</div>
								<div
									data-testid="flowbite-tooltip"
									tabindex="-1"
									class="absolute inline-block z-10 rounded-lg py-2 px-3 text-sm font-medium shadow-sm transition-opacity duration-300 invisible opacity-0 bg-gray-900 text-white dark:bg-gray-700"
									id=":r6:"
									role="tooltip"
									style="position: absolute;"
								>
									<div class="relative z-20">ashwini-aher</div>
									<div
										class="absolute z-10 h-2 w-2 rotate-45 bg-gray-900 dark:bg-gray-700"
										data-testid="flowbite-tooltip-arrow"
										style="bottom: -4px; left: 43.5px;"
									>
										&nbsp;
									</div>
								</div>

								<div class="w-fit" data-testid="flowbite-tooltip-target">
									<a
										class="cursor-pointer"
										href="https://github.com/pranalidhanavade"
										><img
											src="https://avatars.githubusercontent.com/u/137780597?v=4"
											alt="pranalidhanavade avatar"
											class="h-10 w-10 rounded-full bg-gray-100 text-gray-600 dark:bg-gray-600 dark:text-gray-300 sm:h-12 sm:w-12 lg:h-16 lg:w-16"
										/></a
									>
								</div>
								<div
									data-testid="flowbite-tooltip"
									tabindex="-1"
									class="absolute inline-block z-10 rounded-lg py-2 px-3 text-sm font-medium shadow-sm transition-opacity duration-300 invisible opacity-0 bg-gray-900 text-white dark:bg-gray-700"
									id=":r6:"
									role="tooltip"
									style="position: absolute;"
								>
									<div class="relative z-20">pranalidhanavade</div>
									<div
										class="absolute z-10 h-2 w-2 rotate-45 bg-gray-900 dark:bg-gray-700"
										data-testid="flowbite-tooltip-arrow"
										style="bottom: -4px; left: 43.5px;"
									>
										&nbsp;
									</div>
								</div>

								<div class="w-fit" data-testid="flowbite-tooltip-target">
									<a
										class="cursor-pointer"
										href="https://github.com/RinkalBhojani"
										><img
											src="https://avatars.githubusercontent.com/u/51080327?v=4"
											alt="RinkalBhojani avatar"
											class="h-10 w-10 rounded-full bg-gray-100 text-gray-600 dark:bg-gray-600 dark:text-gray-300 sm:h-12 sm:w-12 lg:h-16 lg:w-16"
										/></a
									>
								</div>
								<div
									data-testid="flowbite-tooltip"
									tabindex="-1"
									class="absolute inline-block z-10 rounded-lg py-2 px-3 text-sm font-medium shadow-sm transition-opacity duration-300 invisible opacity-0 bg-gray-900 text-white dark:bg-gray-700"
									id=":r6:"
									role="tooltip"
									style="position: absolute;"
								>
									<div class="relative z-20">RinkalBhojani</div>
									<div
										class="absolute z-10 h-2 w-2 rotate-45 bg-gray-900 dark:bg-gray-700"
										data-testid="flowbite-tooltip-arrow"
										style="bottom: -4px; left: 43.5px;"
									>
										&nbsp;
									</div>
								</div>
							</div>
						</div>
						<div
							class="flex w-full max-w-5xl flex-row items-center justify-between lg:px-4"
						>
							<div
								class="flex w-full flex-col items-start justify-between gap-4 rounded-lg bg-gray-50 p-4 dark:bg-gray-800 sm:flex-row sm:items-center sm:gap-8"
							>
								<div
									class="hidden lg:flex items-center justify-center lg:w-fit"
								>
									<svg
										class="w-8 h-8 text-blue-600 dark:text-blue-500"
										aria-hidden="true"
										xmlns="http://www.w3.org/2000/svg"
										fill="currentColor"
										viewBox="0 0 20 19"
									>
										<path
											d="M14.5 0A3.987 3.987 0 0 0 11 2.1a4.977 4.977 0 0 1 3.9 5.858A3.989 3.989 0 0 0 14.5 0ZM9 13h2a4 4 0 0 1 4 4v2H5v-2a4 4 0 0 1 4-4Z"
										>
										</path>
										<path
											d="M5 19h10v-2a4 4 0 0 0-4-4H9a4 4 0 0 0-4 4v2ZM5 7a5.008 5.008 0 0 1 4-4.9 3.988 3.988 0 1 0-3.9 5.859A4.974 4.974 0 0 1 5 7Zm5 3a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm5-1h-.424a5.016 5.016 0 0 1-1.942 2.232A6.007 6.007 0 0 1 17 17h2a1 1 0 0 0 1-1v-2a5.006 5.006 0 0 0-5-5ZM5.424 9H5a5.006 5.006 0 0 0-5 5v2a1 1 0 0 0 1 1h2a6.007 6.007 0 0 1 4.366-5.768A5.016 5.016 0 0 1 5.424 9Z"
										>
										</path>
									</svg>
								</div>
								<div class="flex w-full flex-col">
									<h2
										class="text-left text-xl font-bold tracking-tight text-gray-900 dark:text-white"
									>
										Join Discord Community
									</h2>
									<p class="text-gray-500 dark:text-gray-400">
										Become a member of a community of SSI developers by
										supporting CREDEBL
									</p>
								</div><a
									class="flex items-center gap-2 whitespace-nowrap text-base font-medium text-blue-700 dark:text-blue-600 hover:underline"
									href={PLATFORM_DATA.support}
									>Join discord <svg
										class="w-2.5 h-2.5"
										aria-hidden="true"
										xmlns="http://www.w3.org/2000/svg"
										fill="none"
										viewBox="0 0 6 10"
									>
										<path
											stroke="currentColor"
											stroke-linecap="round"
											stroke-linejoin="round"
											stroke-width="2"
											d="m1 9 4-4-4-4"></path>
									</svg></a
								>
							</div>
						</div>
					</div>
				</div>
			</section>

			<footer class="p-4 bg-gray-200 md:p-8 lg:p-10 dark:bg-gray-800">
				<div class="mt-4 mx-auto max-w-screen-xl text-center">
					<a
						class="flex justify-center items-center text-2xl font-semibold text-gray-900 dark:text-white"
					>
						<img
							src={PLATFORM_DATA.logo}
							class="mr-2 h-6 sm:h-9"
							alt={`${PLATFORM_DATA.name} Logo`}
						/>
						{PLATFORM_DATA.name}
					</a>
					<p class="my-6 mb-4 text-gray-500 dark:text-gray-400">
						Open-source self-soveriegn identity (SSI) platform to build robust,
						privacy-enhancing identity & digital credential solutions.
					</p>
					<span
						class="mt-8 text-sm text-gray-500 sm:text-center dark:text-gray-400"
					>
						&copy; 2019-{new Date().getFullYear()}
						<a href={PLATFORM_DATA.orgUrl} target="_blank"
							>{PLATFORM_DATA.poweredBy}.</a
						> All Rights Reserved.</span
					>
					<div class="mt-4 flex flex-row flex-col-2 gap-6 justify-center ">
						<a href="/terms-of-use" class="font-segoe-ui text-sm text-gray-500 leading-5 cursor-pointer">
							&#8226; Terms of Use</a>
						
						<a href="/privacy-policy"  class="font-segoe-ui text-sm text-gray-500 leading-5 cursor-pointer">
							&#8226; Privacy Policy
						</a>
					</div>

					<div class="flex mt-4 space-x-6 sm:justify-center">
					<a
						href="https://twitter.com/i/flow/login?redirect_after_login=%2Fcredebl"
						class="text-gray-700 hover:text-gray-900 dark:text-gray-400 dark:hover:text-white"
					>
                    <svg 
					    class="w-5 h-4" 
                        xmlns="http://www.w3.org/2000/svg"  
                        fill="currentColor" viewBox="0 0 24 24"> 

                    <path 
						d="M.001.24c-.02.028.23.427.558.9.334.466.767 1.082.962 1.359l.739 1.048c.39.54 2.474 3.489 3.325 4.699.25.352.662.933.906 1.285.251.351.62.872.816 1.15.195.276.704 1 1.136 1.602.432.601.78 1.129.78 1.17 0 .04-.132.216-.299.391a76.85 76.85 0 0 0-1.436 1.603c-.627.703-1.387 1.575-1.7 1.92C3.123 20.356.021 23.9.021 23.94c0 .034.44.061.976.061h.976l.279-.297c.153-.163.383-.42.509-.562.118-.148.787-.906 1.478-1.676.69-.778 1.345-1.522 1.463-1.65.112-.136.774-.88 1.464-1.657s1.485-1.677 1.764-1.994c.941-1.076 1.206-1.36 1.255-1.36.028 0 .146.15.272.325.118.176.432.622.697.994.265.372.683.967.934 1.319.25.351.662.933.913 1.284.251.352 1.15 1.63 2 2.84.851 1.21 1.604 2.251 1.674 2.32.111.107.355.114 3.618.1l3.506-.02-.641-.913c-.6-.858-1.046-1.487-1.91-2.704-.196-.277-.572-.811-.837-1.183s-1.018-1.447-1.687-2.38c-1.171-1.657-1.52-2.15-2.426-3.435-.237-.338-.6-.852-.808-1.15-1.046-1.474-1.318-1.866-1.318-1.913 0-.027.272-.358.607-.737.341-.372.962-1.068 1.38-1.548a285.78 285.78 0 0 0 1.847-2.09c.593-.669 1.178-1.325 1.29-1.46.118-.135.773-.872 1.464-1.65 1.422-1.596 1.966-2.21 2.147-2.44L23.04.2h-1.038L20.97.207l-1.827 2.076c-3.75 4.252-5.841 6.599-5.91 6.619-.036.013-.559-.67-1.151-1.515-.593-.845-1.29-1.825-1.54-2.177-.572-.818-1.2-1.697-1.96-2.779A348.15 348.15 0 0 0 7.51.91L7.02.234 3.535.214C1.618.207.03.22.001.24Zm6.295 1.9c.174.224.788 1.062 1.36 1.873 1.017 1.427 4.203 5.856 4.942 6.87a622.1 622.1 0 0 1 1.512 2.096c.62.872 1.332 1.86 1.576 2.197.244.332.613.852.83 1.15.46.649 1.261 1.758 1.714 2.387 2.057 2.846 2.705 3.766 2.705 3.813 0 .027-.718.054-1.596.054h-1.597l-1.045-1.44c-.572-.784-1.736-2.407-2.594-3.597-.85-1.19-1.721-2.394-1.924-2.67-.202-.278-.87-1.211-1.484-2.063a452.26 452.26 0 0 0-1.506-2.096c-.21-.298-.648-.906-.969-1.352-.32-.447-.795-1.102-1.053-1.454a768.81 768.81 0 0 0-1.575-2.197 506.222 506.222 0 0 0-2.405-3.334c-.237-.324-.418-.602-.411-.622.014-.02.739-.027 1.617-.027l1.59.014.313.399Z"/></svg>
					<a
					href={PLATFORM_DATA.support}
					class="text-gray-700 hover:text-gray-900 dark:text-gray-400 dark:hover:text-white"
					target="_blank"
				>
					<svg
						class="w-5 h-5"
						aria-hidden="true"
						xmlns="http://www.w3.org/2000/svg"
						fill="currentColor"
						viewBox="0 0 21 16"
					>
						<path
							d="M16.942 1.556a16.3 16.3 0 0 0-4.126-1.3 12.04 12.04 0 0 0-.529 1.1 15.175 15.175 0 0 0-4.573 0 11.585 11.585 0 0 0-.535-1.1 16.274 16.274 0 0 0-4.129 1.3A17.392 17.392 0 0 0 .182 13.218a15.785 15.785 0 0 0 4.963 2.521c.41-.564.773-1.16 1.084-1.785a10.63 10.63 0 0 1-1.706-.83c.143-.106.283-.217.418-.33a11.664 11.664 0 0 0 10.118 0c.137.113.277.224.418.33-.544.328-1.116.606-1.71.832a12.52 12.52 0 0 0 1.084 1.785 16.46 16.46 0 0 0 5.064-2.595 17.286 17.286 0 0 0-2.973-11.59ZM6.678 10.813a1.941 1.941 0 0 1-1.8-2.045 1.93 1.93 0 0 1 1.8-2.047 1.919 1.919 0 0 1 1.8 2.047 1.93 1.93 0 0 1-1.8 2.045Zm6.644 0a1.94 1.94 0 0 1-1.8-2.045 1.93 1.93 0 0 1 1.8-2.047 1.918 1.918 0 0 1 1.8 2.047 1.93 1.93 0 0 1-1.8 2.045Z"
						></path>
					</svg>
				</a>

			
					</div>
				</div>
			</footer>
		</main>
	</div>
</astro>
