---
import pkg from '../../package.json' assert { type: 'json' };
import HelmetHead from '../components/HelmetHead';
import { url } from '../lib/data.js';
import { PLATFORM_DATA } from '../app/constants';

import { SITE_TITLE } from './constants.js';

const { class: clazz, metaData } = Astro.props;

const initData: any = {};

// const envKeys = [...Object.keys(process.env), ...Object.keys(import.meta.env)];
// envKeys.forEach((item) => {
// 	initData[item] = process.env[item] || import.meta.env[item];
// });

const baseUrl = process.env.PUBLIC_BASE_URL || import.meta.env.PUBLIC_BASE_URL;
const encryptKey =
	process.env.PUBLIC_CRYPTO_PRIVATE_KEY ||
	import.meta.env.PUBLIC_CRYPTO_PRIVATE_KEY;
const supabaseUrl =
	process.env.PUBLIC_SUPABASE_URL || import.meta.env.PUBLIC_SUPABASE_URL;
const supabaseKey =
	process.env.PUBLIC_SUPABASE_KEY || import.meta.env.PUBLIC_SUPABASE_KEY;
const PUBLIC_PLATFORM_NAME = 	process.env.PUBLIC_PLATFORM_NAME || import.meta.env.PUBLIC_PLATFORM_NAME;
const PUBLIC_PLATFORM_LOGO = process.env.PUBLIC_PLATFORM_LOGO || import.meta.env.PUBLIC_PLATFORM_LOGO;

---

<!DOCTYPE html>
<html lang="en">
	<head set:html={metaData}>
		<HelmetHead
			siteTitle={SITE_TITLE}
			version={pkg.version}
			generator={Astro.generator}
			desc={pkg.description}
			icon={url('favicon.svg')}
			sitemap={url('sitemap-index.xml')}
			client:load
		/>
		<meta property="og:image" content={PLATFORM_DATA.logo} />
		<script is:inline>
			if (
				localStorage.getItem('color-theme') === 'dark' ||
				(!('color-theme' in localStorage) &&
					window.matchMedia('(prefers-color-scheme: dark)').matches)
			) {
				document.documentElement.classList.add('dark');
			} else {
				document.documentElement.classList.remove('dark');
			}
		</script>
	</head>

	<body
		class:list={[
			,
			// clazz, 'bg-gray-50 dark:bg-gray-800'
			'scrollbar scrollbar-w-3 scrollbar-thumb-rounded-[0.25rem]',
			'scrollbar-track-slate-200  scrollbar-thumb-gray-400',
			'dark:scrollbar-track-gray-900 dark:scrollbar-thumb-gray-700',
			'dark:bg-[#111827]',
		]}
	>
		<slot />
		<script>
			import 'flowbite';
			import 'flowbite/dist/datepicker.js';
		</script>
		<script
			define:vars={{ baseUrl, encryptKey, supabaseUrl, supabaseKey, PUBLIC_PLATFORM_LOGO, PUBLIC_PLATFORM_NAME }}
		>
			console.log(
				34555,
				baseUrl,
				encryptKey,
				PUBLIC_PLATFORM_LOGO,
			);
			globalThis.PUBLIC_BASE_URL = baseUrl;
			globalThis.encryptKey = encryptKey;
			globalThis.supabaseUrl = supabaseUrl;
			globalThis.supabaseKey = supabaseKey;
			globalThis.PUBLIC_PLATFORM_LOGO = PUBLIC_PLATFORM_LOGO;
			globalThis.PUBLIC_PLATFORM_NAME = PUBLIC_PLATFORM_NAME;
		</script>
		<!-- <script define:vars={{ initData, envKeys }}>
			envKeys.forEach((item) => {
				globalThis[item] = initData[item];
			});
		</script> -->

		<style is:global>
			@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&family=Inter:wght@400&display=swap');

			body {
				font-family: 'Inter', sans-serif;
			}

			.font-courier {
				font-family: 'Courier Prime', monospace;
			}

			/* Scrollbar design */
			::-webkit-scrollbar {
				width: 7px;
				height: 7px;
			}
			::-webkit-scrollbar-track-piece {
				background: #eee;
			}
			::-webkit-scrollbar-thumb {
				background: #9a9a9a;
			}
		</style>
	</body>
</html>
