---
import pkg from '../../package.json' assert { type: 'json' };
// import { HelmetProvider } from 'react-helmet-async';
import HelmetHead from '../components/HelmetHead';
import { url } from '../lib/data.js';
import { getFromCookies } from '../api/Auth';
import { SITE_TITLE } from './constants.js';

const { class: clazz, metaData } = Astro.props;

const initData: any = {};

const envKeys = [...Object.keys(process.env), ...Object.keys(import.meta.env)];
envKeys.forEach((item) => {
	initData[item] = process.env[item] || import.meta.env[item];
});

const sessionToken = getFromCookies(Astro.cookies, 'session');
const refreshToken = getFromCookies(Astro.cookies, 'refresh');

// const allowedDomains = "https://www.ayanworks.com https://qaapi.credebl.id https://devapi.credebl.id https://fonts.googleapis.com https://avatars.githubusercontent.com https://fonts.gstatic.com"

const allowedDomains = "https://www.blockster.global https://www.ayanworks.com https://qaapi.credebl.id https://devapi.credebl.id https://api.credebl.id https://*.credebl.id https://fonts.googleapis.com https://avatars.githubusercontent.com https://fonts.gstatic.com https://dev-org-logo.s3.ap-south-1.amazonaws.com https://flowbite-admin-dashboard.vercel.app/ wss://devapi.credebl.id wss://qaapi.credebl.id wss://api.credebl.id wss://*.credebl.id"


---

<!DOCTYPE html>
<html lang="en">
	<head set:html={metaData}>
		<!-- <HelmetHead
			siteTitle={SITE_TITLE}
			version={pkg.version}
			generator={Astro.generator}
			desc={pkg.description}
			icon={url('favicon.svg')}
			sitemap={url('sitemap-index.xml')}
			client:load
		/> -->
		<!-- <meta http-equiv="Content-Security-Policy" content="" /> -->
		<!-- <meta
		http-equiv="Content-Security-Policy"
		content="frame-ancestors SAMEORIGIN"
	/> -->
		<!-- <meta http-equiv="Content-Security-Policy" content="frame-ancestors 'self'" >
		<meta http-equiv="Content-Security-Policy" content="default-src 'self'"> -->

		<!-- <meta
			http-equiv="Content-Security-Policy"
			content=`
				default-src 'self'; 
				script-src 'self' ${allowedDomains}; 
				style-src 'unsafe-inline' ${allowedDomains}; 
				font-src ${allowedDomains}; 
				img-src 'self' ${allowedDomains}; 
				frame-src 'self' ${allowedDomains}; 
				object-src 'none'; 
				media-src 'self'; 
				connect-src 'self' ${allowedDomains};
				` /> -->
				<!-- script-src-elem 'self' ${allowedDomains}; -->
				<!-- frame-ancestors 'self'; -->

		<!-- <meta http-equiv="X-Frame-Options" content="DENY" /> -->

		<!-- <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests" > -->
		<!-- <meta
			http-equiv="Content-Security-Policy"
			content="default-src 'self'; script-src 'self';"
		/>
		<meta
			property="og:image"
			content="https://credebl.id/images/CREDEBL_ICON.png"
		/> -->
		<meta property="og:image" content={initData.PUBLIC_PLATFORM_LOGO} />
		<script is:inline id="theme">
			if (
				localStorage.getItem('color-theme') === 'dark' ||
				(!('color-theme' in localStorage) &&
					window.matchMedia('(prefers-color-scheme: dark)').matches)
			) {
				document.documentElement.classList.add('dark');
			} else {
				document.documentElement.classList.remove('dark');
			}
		</script>
	</head>

	<body
		class:list={[
			,
			// clazz, 'bg-gray-50 dark:bg-gray-800'
			'scrollbar scrollbar-w-3 scrollbar-thumb-rounded-[0.25rem]',
			'scrollbar-track-slate-200  scrollbar-thumb-gray-400',
			'dark:scrollbar-track-gray-900 dark:scrollbar-thumb-gray-700',
			'dark:bg-[#111827]',
		]}
	>
		<slot />
		<script id="pkg">
			import 'flowbite';
			import 'flowbite/dist/datepicker.js';
		</script>
		<script id="global" define:vars={{ initData, envKeys, sessionToken, refreshToken }}>
			
			envKeys.forEach((item) => {
				globalThis[item] = initData[item];
			});

			globalThis.access_token = sessionToken;
			globalThis.refresh_token = refreshToken;

		</script>

		<style nonce={"dynamicNONCE" + (new Date().getTime() + Math.random()).toString().split(".").join("_")} is:global>
			@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&family=Inter:wght@400&display=swap');

			body {
				font-family: 'Inter', sans-serif;
			}

			.font-courier {
				font-family: 'Courier Prime', monospace;
			}

			/* Scrollbar design */
			::-webkit-scrollbar {
				width: 7px;
				height: 7px;
			}
			::-webkit-scrollbar-track-piece {
				background: #eee;
			}
			::-webkit-scrollbar-thumb {
				background: #9a9a9a;
			}
		</style>
	</body>
</html>
