---
/* eslint max-lines: 'off' */

import { asset } from '../lib/data.js';
import ColorModeSwitcher from '../components/ColorModeSwitcher.astro';
import OrgDropDwon from '../components/organization/OrgDropDown';
import DisplayUser from '../components/Profile/DisplayUser';
import DisplayProfileImg from '../components/Profile/DisplayProfileImg';
import { pathRoutes } from '../config/pathRoutes.js';
import SignOutButton from '../components/SignOutButton/index';
import AgentHealth from '../commonComponents/AgentHealth';
import { getFromCookies } from '../api/Auth';
import { RolePermissions } from '../config/permissions';
import { apiRoutes } from '../config/apiRoutes';
import API from '../config/ssrApiConfig';

const { hideOrgAgent } = Astro.props;

let orgData = [];
let orgId = getFromCookies(Astro.cookies, 'orgId');

const token = getFromCookies(Astro.cookies, 'session');
const orgDataResponse = await API({
	url: `${apiRoutes.organizations.root}`,
	token,
	method: 'GET',
});

let selectedOrg;
let agentHealth;

if (!orgId) {
	const [firstOrg] = orgDataResponse?.organizations;
	orgId = firstOrg.id;
	selectedOrg = firstOrg;
}

selectedOrg = await API({
	url: `${apiRoutes.organizations.root}/${orgId}`,
	token,
	method: 'GET',
});
agentHealth = await API({
	url: `${apiRoutes.organizations.root}/${orgId}${apiRoutes.Agent.checkAgentHealth}`,
	token,
	method: 'GET',
});

const role = getFromCookies(Astro.cookies, 'role');

const permittedPages = RolePermissions.find(
	(item) => item.role === role,
)?.pages;

orgData = orgDataResponse?.organizations;
---

<nav
	class="fixed z-30 w-full bg-white border-b border-gray-200 dark:bg-gray-800 dark:border-gray-700"
>
	<div class="px-3 py-3 lg:px-5 lg:pl-3">
		<div class="flex items-center justify-between">
			<div class="flex items-center justify-start">
				{
					!hideOrgAgent && (
						<button
							id="toggleSidebarMobile"
							aria-expanded="true"
							aria-controls="sidebar"
							class="p-2 text-gray-600 rounded cursor-pointer lg:hidden hover:text-gray-900 hover:bg-gray-100 focus:bg-gray-100 dark:focus:bg-gray-700 focus:ring-2 focus:ring-gray-100 dark:focus:ring-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
						>
							<svg
								id="toggleSidebarMobileHamburger"
								class="w-6 h-6"
								fill="currentColor"
								viewBox="0 0 20 20"
								xmlns="http://www.w3.org/2000/svg"
							>
								<path
									fill-rule="evenodd"
									d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h6a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
									clip-rule="evenodd"
								/>
							</svg>
							<svg
								id="toggleSidebarMobileClose"
								class="hidden w-6 h-6"
								fill="currentColor"
								viewBox="0 0 20 20"
								xmlns="http://www.w3.org/2000/svg"
							>
								<path
									fill-rule="evenodd"
									d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
									clip-rule="evenodd"
								/>
							</svg>
						</button>
					)
				}
				<a
					href={(permittedPages && permittedPages[0]) ||
						pathRoutes.users.dashboard}
					class="flex ml-2 md:mr-24"
				>
					<img
						src="/images/CREDEBL_ICON.png"
						class="h-8 mr-3"
						alt="CREDEBL Logo"
					/>
					<span
						class="self-center text-xl font-semibold sm:text-2xl whitespace-nowrap dark:text-white"
						>CREDEBL</span
					>
				</a>
			</div>

			<div class="flex items-center">
				<>
					{
						!hideOrgAgent && (
							<>
								<div class="hidden sm:block mr-5">
									<AgentHealth
										agent={agentHealth || ''}
										orgId={orgId || ''}
										client:visible
									/>
								</div>
								<div class="hidden sm:block mr-5">
									<OrgDropDwon
										data={orgData}
										orgId={selectedOrg}
										client:visible
									/>
								</div>
							</>
						)
					}
					<div
						id="dropdownNavbar"
						class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700 dark:divide-gray-600"
					>
						<ul
							class="py-2 text-sm text-gray-700 dark:text-gray-400"
							aria-labelledby="dropdownNavbarButton"
						>
							<li>
								<a
									href="#"
									class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
									>Dashboard</a
								>
							</li>
							<li>
								<a
									href="#"
									class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
									>Settings</a
								>
							</li>
							<li>
								<a
									href="#"
									class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
									>Earnings</a
								>
							</li>
						</ul>
						<div class="py-2">
							<a
								href="#"
								class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-400 dark:hover:text-white"
								>Sign out</a
							>
						</div>
					</div>
					<!-- Dropdown menu -->
					<div
						class="z-20 z-50 hidden max-w-sm my-4 overflow-hidden text-base list-none bg-white divide-y divide-gray-100 rounded shadow-lg dark:divide-gray-600 dark:bg-gray-700"
						id="notification-dropdown"
					>
						<div
							class="block px-4 py-2 text-base font-medium text-center text-gray-500 bg-gray-50 dark:bg-gray-700 dark:text-gray-500"
						>
							Notifications
						</div>
						<div>
							<a
								href="#"
								class="flex px-4 py-3 border-b hover:bg-gray-100 dark:hover:bg-gray-600 dark:border-gray-600"
							>
								<div class="flex-shrink-0">
									<img
										class="rounded-full w-11 h-11"
										src={asset('images/users/bonnie-green.png')}
										alt="Jese image"
									/>
									<div
										class="absolute flex items-center justify-center w-5 h-5 ml-6 -mt-5 border border-white rounded-full bg-primary-700 dark:border-gray-700"
									>
										<svg
											class="w-3 h-3 text-gray"
											fill="currentColor"
											viewBox="0 0 20 20"
											xmlns="http://www.w3.org/2000/svg"
										>
											<path
												d="M8.707 7.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l2-2a1 1 0 00-1.414-1.414L11 7.586V3a1 1 0 10-2 0v4.586l-.293-.293z"
											>
											</path>
											<path
												d="M3 5a2 2 0 012-2h1a1 1 0 010 2H5v7h2l1 2h4l1-2h2V5h-1a1 1 0 110-2h1a2 2 0 012 2v10a2 2 0 01-2 2H5a2 2 0 01-2-2V5z"
											>
											</path>
										</svg>
									</div>
								</div>
								<div class="w-full pl-3">
									<div
										class="text-gray-500 font-normal text-sm mb-1.5 dark:text-gray-400"
									>
										New message from <span
											class="font-semibold text-gray-900 dark:text-white"
											>Bonnie Green</span
										>: "Hey, what's up? All set for the presentation?"
									</div>
									<div
										class="text-xs font-medium text-primary-700 dark:text-primary-400"
									>
										a few moments ago
									</div>
								</div>
							</a>
							<a
								href="#"
								class="flex px-4 py-3 border-b hover:bg-gray-100 dark:hover:bg-gray-600 dark:border-gray-600"
							>
								<div class="flex-shrink-0">
									<img
										class="rounded-full w-11 h-11"
										src={asset('images/users/jese-leos.png')}
										alt="Jese image"
									/>
									<div
										class="absolute flex items-center justify-center w-5 h-5 ml-6 -mt-5 bg-gray-900 border border-white rounded-full dark:border-gray-700"
									>
										<svg
											class="w-3 h-3 text-white"
											fill="currentColor"
											viewBox="0 0 20 20"
											xmlns="http://www.w3.org/2000/svg"
										>
											<path
												d="M8 9a3 3 0 100-6 3 3 0 000 6zM8 11a6 6 0 016 6H2a6 6 0 016-6zM16 7a1 1 0 10-2 0v1h-1a1 1 0 100 2h1v1a1 1 0 102 0v-1h1a1 1 0 100-2h-1V7z"
											>
											</path>
										</svg>
									</div>
								</div>
								<div class="w-full pl-3">
									<div
										class="text-gray-500 font-normal text-sm mb-1.5 dark:text-gray-400"
									>
										<span class="font-semibold text-gray-900 dark:text-white"
											>Jese leos</span
										> and <span
											class="font-medium text-gray-900 dark:text-white"
											>5 others</span
										> started following you.
									</div>
									<div
										class="text-xs font-medium text-primary-700 dark:text-primary-400"
									>
										10 minutes ago
									</div>
								</div>
							</a>
							<a
								href="#"
								class="flex px-4 py-3 border-b hover:bg-gray-100 dark:hover:bg-gray-600 dark:border-gray-600"
							>
								<div class="flex-shrink-0">
									<img
										class="rounded-full w-11 h-11"
										src={asset('images/users/joseph-mcfall.png')}
										alt="Joseph image"
									/>
									<div
										class="absolute flex items-center justify-center w-5 h-5 ml-6 -mt-5 bg-red-600 border border-white rounded-full dark:border-gray-700"
									>
										<svg
											class="w-3 h-3 text-white"
											fill="currentColor"
											viewBox="0 0 20 20"
											xmlns="http://www.w3.org/2000/svg"
										>
											<path
												fill-rule="evenodd"
												d="M3.172 5.172a4 4 0 015.656 0L10 6.343l1.172-1.171a4 4 0 115.656 5.656L10 17.657l-6.828-6.829a4 4 0 010-5.656z"
												clip-rule="evenodd"></path>
										</svg>
									</div>
								</div>
								<div class="w-full pl-3">
									<div
										class="text-gray-500 font-normal text-sm mb-1.5 dark:text-gray-400"
									>
										<span class="font-semibold text-gray-900 dark:text-white"
											>Joseph Mcfall</span
										> and
										<span class="font-medium text-gray-900 dark:text-white"
											>141 others</span
										> love your story. See it and view more stories.
									</div>
									<div
										class="text-xs font-medium text-primary-700 dark:text-primary-400"
									>
										44 minutes ago
									</div>
								</div>
							</a>
							<a
								href="#"
								class="flex px-4 py-3 border-b hover:bg-gray-100 dark:hover:bg-gray-600 dark:border-gray-600"
							>
								<div class="flex-shrink-0">
									<img
										class="rounded-full w-11 h-11"
										src={asset('images/users/leslie-livingston.png')}
										alt="Leslie image"
									/>
									<div
										class="absolute flex items-center justify-center w-5 h-5 ml-6 -mt-5 bg-green-400 border border-white rounded-full dark:border-gray-700"
									>
										<svg
											class="w-3 h-3 text-white"
											fill="currentColor"
											viewBox="0 0 20 20"
											xmlns="http://www.w3.org/2000/svg"
										>
											<path
												fill-rule="evenodd"
												d="M18 13V5a2 2 0 00-2-2H4a2 2 0 00-2 2v8a2 2 0 002 2h3l3 3 3-3h3a2 2 0 002-2zM5 7a1 1 0 011-1h8a1 1 0 110 2H6a1 1 0 01-1-1zm1 3a1 1 0 100 2h3a1 1 0 100-2H6z"
												clip-rule="evenodd"></path>
										</svg>
									</div>
								</div>
								<div class="w-full pl-3">
									<div
										class="text-gray-500 font-normal text-sm mb-1.5 dark:text-gray-400"
									>
										<span class="font-semibold text-gray-900 dark:text-white"
											>Leslie Livingston</span
										>
										mentioned you in a comment: <span
											class="font-medium text-primary-700 dark:text-primary-500"
											>@bonnie.green</span
										>
										what do you say?
									</div>
									<div
										class="text-xs font-medium text-primary-700 dark:text-primary-400"
									>
										1 hour ago
									</div>
								</div>
							</a>
							<a
								href="#"
								class="flex px-4 py-3 hover:bg-gray-100 dark:hover:bg-gray-600"
							>
								<div class="flex-shrink-0">
									<img
										class="rounded-full w-11 h-11"
										src={asset('images/users/robert-brown.png')}
										alt="Robert image"
									/>
									<div
										class="absolute flex items-center justify-center w-5 h-5 ml-6 -mt-5 bg-purple-500 border border-white rounded-full dark:border-gray-700"
									>
										<svg
											class="w-3 h-3 text-white"
											fill="currentColor"
											viewBox="0 0 20 20"
											xmlns="http://www.w3.org/2000/svg"
										>
											<path
												d="M2 6a2 2 0 012-2h6a2 2 0 012 2v8a2 2 0 01-2 2H4a2 2 0 01-2-2V6zM14.553 7.106A1 1 0 0014 8v4a1 1 0 00.553.894l2 1A1 1 0 0018 13V7a1 1 0 00-1.447-.894l-2 1z"
											>
											</path>
										</svg>
									</div>
								</div>
								<div class="w-full pl-3">
									<div
										class="text-gray-500 font-normal text-sm mb-1.5 dark:text-gray-400"
									>
										<span class="font-semibold text-gray-900 dark:text-white"
											>Robert Brown</span
										> posted a new video: Glassmorphism - learn how to implement
										the new design trend.
									</div>
									<div
										class="text-xs font-medium text-primary-700 dark:text-primary-400"
									>
										3 hours ago
									</div>
								</div>
							</a>
						</div>
						<a
							href="#"
							class="block py-2 text-base font-normal text-center text-gray-900 bg-gray-50 hover:bg-gray-100 dark:bg-gray-700 dark:text-white dark:hover:underline"
						>
							<div class="inline-flex items-center">
								<svg
									class="w-5 h-5 mr-2"
									fill="currentColor"
									viewBox="0 0 20 20"
									xmlns="http://www.w3.org/2000/svg"
								>
									<path d="M10 12a2 2 0 100-4 2 2 0 000 4z"></path>
									<path
										fill-rule="evenodd"
										d="M.458 10C1.732 5.943 5.522 3 10 3s8.268 2.943 9.542 7c-1.274 4.057-5.064 7-9.542 7S1.732 14.057.458 10zM14 10a4 4 0 11-8 0 4 4 0 018 0z"
										clip-rule="evenodd"></path>
								</svg>
								View all
							</div>
						</a>
					</div>
					<!-- Apps -->
					<button
						type="button"
						data-dropdown-toggle="apps-dropdown"
						class="p-2 text-gray-500 rounded-lg sm:flex hover:text-gray-900 hover:bg-gray-100 dark:text-gray-400 dark:hover:text-white dark:hover:bg-gray-700"
					>
						<span class="sr-only">View</span>
						<!-- Icon -->
						<svg
							xmlns="http://www.w3.org/2000/svg"
							width="24"
							height="24"
							fill="none"
							viewBox="0 0 24 24"
						>
							<path
								stroke="#6B7280"
								stroke-linecap="round"
								stroke-linejoin="round"
								stroke-width="1.5"
								d="M20.047 16.473c-1.204-1.473-2.053-2.223-2.053-6.285 0-3.72-1.9-5.044-3.463-5.688a.835.835 0 0 1-.466-.495C13.79 3.072 13.022 2.25 12 2.25s-1.791.823-2.063 1.756a.827.827 0 0 1-.466.494c-1.565.645-3.463 1.965-3.463 5.688-.002 4.062-.852 4.812-2.056 6.285-.499.61-.062 1.527.81 1.527h14.48c.867 0 1.301-.92.805-1.527ZM15 18v.75a3 3 0 0 1-6 0V18"
							></path>
						</svg>
					</button>
					<!-- Dropdown menu -->
					<div
						class="z-20 z-50 hidden max-w-sm my-4 overflow-hidden text-base list-none bg-white divide-y divide-gray-100 rounded shadow-lg dark:bg-gray-700 dark:divide-gray-600"
						id="apps-dropdown"
					>
					</div>
				</>

				<ColorModeSwitcher />

				<!-- Profile -->
				<div class="flex items-center ml-3">
					<div>
						<button
							type="button"
							class="flex text-sm bg-gray-800 rounded-full focus:ring-4 focus:ring-gray-300 dark:focus:ring-gray-600"
							id="user-menu-button-2"
							aria-expanded="false"
							data-dropdown-toggle="dropdown-2"
						>
							<span class="sr-only">Open user menu</span>
							<DisplayProfileImg client:load />
						</button>
					</div>
					<!-- Dropdown menu -->
					<div
						class="z-50 min-w-[260px] hidden my-4 text-base list-none bg-white divide-y divide-gray-100 rounded shadow dark:bg-gray-700 dark:divide-gray-600"
						id="dropdown-2"
					>
						<DisplayUser client:load />
						<ul class="py-1 divide-y" role="none">
							<li>
								<a
									href={pathRoutes.users.profile}
									class="flex space-x-2 px-4 py-2 my-2 text-sm text-gray-700 dark:text-white hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
									role="menuitem"
									><svg
										xmlns="http://www.w3.org/2000/svg"
										width="20"
										height="20"
										viewBox="0 0 20 20"
										fill="none"
									>
										<path
											fill-rule="evenodd"
											clip-rule="evenodd"
											d="M16.5684 18H3.44404C2.73765 18 2.21601 17.303 2.48244 16.662C3.71863 13.698 6.6228 12 10.0057 12C13.3897 12 16.2938 13.698 17.53 16.662C17.7964 17.303 17.2748 18 16.5684 18ZM5.92253 5.99999C5.92253 3.79399 7.75486 1.99999 10.0057 1.99999C12.2576 1.99999 14.0889 3.79399 14.0889 5.99999C14.0889 8.20599 12.2576 10 10.0057 10C7.75486 10 5.92253 8.20599 5.92253 5.99999ZM19.9616 17.636C19.2194 14.277 16.8981 11.798 13.8429 10.673C15.4619 9.39597 16.4061 7.33094 16.059 5.06994C15.6569 2.44693 13.4295 0.347977 10.7407 0.0419769C7.02908 -0.381024 3.88093 2.44899 3.88093 5.99999C3.88093 7.88999 4.77516 9.57397 6.16957 10.673C3.1133 11.798 0.793024 14.277 0.0498834 17.636C-0.219607 18.857 0.784859 20 2.05983 20H17.9516C19.2276 20 20.2321 18.857 19.9616 17.636Z"
											fill="#455A64"></path>
									</svg>
									<span>Profile</span>
								</a>
							</li>
							<li>
								<a
									href={pathRoutes.users.setting}
									class="flex space-x-2 pl-3 pr-4 py-2 my-2 text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-300 dark:hover:bg-gray-600 dark:hover:text-white"
									role="menuitem"
								>
									<!-- <svg
										xmlns="http://www.w3.org/2000/svg"
										width="25"
										height="24"
										viewBox="0 0 25 24"
										fill="none"
									>
										<path
											d="M10.5059 23C9.95586 23 9.48503 22.8042 9.09336 22.4125C8.70169 22.0208 8.50586 21.55 8.50586 21V18C7.95586 18 7.48503 17.8042 7.09336 17.4125C6.70169 17.0208 6.50586 16.55 6.50586 16V3C6.50586 2.45 6.70169 1.97917 7.09336 1.5875C7.48503 1.19583 7.95586 1 8.50586 1H16.5059C17.0559 1 17.5267 1.19583 17.9184 1.5875C18.31 1.97917 18.5059 2.45 18.5059 3V16C18.5059 16.55 18.31 17.0208 17.9184 17.4125C17.5267 17.8042 17.0559 18 16.5059 18V21C16.5059 21.55 16.31 22.0208 15.9184 22.4125C15.5267 22.8042 15.0559 23 14.5059 23H10.5059ZM12.5059 12.5C13.3392 12.5 14.0475 12.2083 14.6309 11.625C15.2142 11.0417 15.5059 10.3333 15.5059 9.5C15.5059 8.66667 15.2142 7.95833 14.6309 7.375C14.0475 6.79167 13.3392 6.5 12.5059 6.5C11.6725 6.5 10.9642 6.79167 10.3809 7.375C9.79753 7.95833 9.50586 8.66667 9.50586 9.5C9.50586 10.3333 9.79753 11.0417 10.3809 11.625C10.9642 12.2083 11.6725 12.5 12.5059 12.5ZM10.5059 21H14.5059V18H10.5059V21ZM8.50586 16H16.5059V3H8.50586V16ZM12.5059 10.5C12.2225 10.5 11.985 10.4042 11.7934 10.2125C11.6017 10.0208 11.5059 9.78333 11.5059 9.5C11.5059 9.21667 11.6017 8.97917 11.7934 8.7875C11.985 8.59583 12.2225 8.5 12.5059 8.5C12.7892 8.5 13.0267 8.59583 13.2184 8.7875C13.41 8.97917 13.5059 9.21667 13.5059 9.5C13.5059 9.78333 13.41 10.0208 13.2184 10.2125C13.0267 10.4042 12.7892 10.5 12.5059 10.5Z"
											fill="#455A64"></path>
									</svg> -->
									<svg
										xmlns="http://www.w3.org/2000/svg"
										width="25"
										height="24"
										viewBox="0 0 25 24"
										fill="none"
									>
										<path
											d="M10.5059 23C9.95586 23 9.48503 22.8042 9.09336 22.4125C8.70169 22.0208 8.50586 21.55 8.50586 21V18C7.95586 18 7.48503 17.8042 7.09336 17.4125C6.70169 17.0208 6.50586 16.55 6.50586 16V3C6.50586 2.45 6.70169 1.97917 7.09336 1.5875C7.48503 1.19583 7.95586 1 8.50586 1H16.5059C17.0559 1 17.5267 1.19583 17.9184 1.5875C18.31 1.97917 18.5059 2.45 18.5059 3V16C18.5059 16.55 18.31 17.0208 17.9184 17.4125C17.5267 17.8042 17.0559 18 16.5059 18V21C16.5059 21.55 16.31 22.0208 15.9184 22.4125C15.5267 22.8042 15.0559 23 14.5059 23H10.5059ZM12.5059 12.5C13.3392 12.5 14.0475 12.2083 14.6309 11.625C15.2142 11.0417 15.5059 10.3333 15.5059 9.5C15.5059 8.66667 15.2142 7.95833 14.6309 7.375C14.0475 6.79167 13.3392 6.5 12.5059 6.5C11.6725 6.5 10.9642 6.79167 10.3809 7.375C9.79753 7.95833 9.50586 8.66667 9.50586 9.5C9.50586 10.3333 9.79753 11.0417 10.3809 11.625C10.9642 12.2083 11.6725 12.5 12.5059 12.5ZM10.5059 21H14.5059V18H10.5059V21ZM8.50586 16H16.5059V3H8.50586V16ZM12.5059 10.5C12.2225 10.5 11.985 10.4042 11.7934 10.2125C11.6017 10.0208 11.5059 9.78333 11.5059 9.5C11.5059 9.21667 11.6017 8.97917 11.7934 8.7875C11.985 8.59583 12.2225 8.5 12.5059 8.5C12.7892 8.5 13.0267 8.59583 13.2184 8.7875C13.41 8.97917 13.5059 9.21667 13.5059 9.5C13.5059 9.78333 13.41 10.0208 13.2184 10.2125C13.0267 10.4042 12.7892 10.5 12.5059 10.5Z"
											fill="#455A64"></path>
									</svg>
									<span>Developer Settings</span>
								</a>
							</li>
							<li>
								<SignOutButton client:load />
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</nav>
