---
import EcosystemSidebarOption from '../components/Ecosystem/EcosystemSidebarOption';
import { pathRoutes } from '../config/pathRoutes';
/* eslint max-lines: 'off' */
---

<!-- TODO: Dynamic dropdowns -->
<aside
	id="sidebar"
	class="fixed top-0 left-0 z-20 flex flex-col flex-shrink-0 hidden w-64 h-full pt-16 font-normal duration-75 lg:flex transition-width"
	aria-label="Sidebar"
>
	<div
		class="relative flex flex-col flex-1 min-h-0 pt-0 bg-white border-r border-gray-200 dark:bg-gray-800 dark:border-gray-700"
	>
		<div
			class:list={[
				'flex flex-col flex-1 pt-5 pb-28 overflow-y-auto',
				'scrollbar scrollbar-w-2 scrollbar-thumb-rounded-[0.1667rem]',
				'scrollbar-thumb-slate-200 scrollbar-track-gray-400',
				'dark:scrollbar-thumb-slate-900 dark:scrollbar-track-gray-800',
			]}
		>
			<div
				class="px-3 space-y-1 bg-white divide-y divide-gray-200 dark:bg-gray-800 dark:divide-gray-700"
			>
				<ul class="pb-2 space-y-2">
					<li class="hidden">
						<form action="#" method="GET">
							<label for="mobile-search" class="sr-only">Search</label>
							<div class="relative">
								<div
									class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none"
								>
									<svg
										class="w-5 h-5 text-gray-500"
										fill="currentColor"
										viewBox="0 0 20 20"
										xmlns="http://www.w3.org/2000/svg"
										><path
											fill-rule="evenodd"
											d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
											clip-rule="evenodd"></path></svg
									>
								</div>
								<input
									type="text"
									name="email"
									id="mobile-search"
									class="bg-gray-50 border border-gray-300 text-gray-900 text-sm roundedstroke-widthhing-primary-500 focus:border-primary-500 block w-full pl-10 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-gray-200 dark:focus:ring-primary-500 dark:focus:border-primary-500 placestroke-linecaph"
								/>
							</div>
						</form>
					</li>
					<li>
						<a
							href={pathRoutes.users.dashboard}
							class="flex items-center p-2 text-base text-gray-900 transition duration-75 rounded-lg hover:bg-gray-100 group dark:text-gray-200 dark:hover:bg-gray-700"
						>
						<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24" class="text-[#6B7280] group-hover:text-gray-700 dark:group-hover:text-white">
							<path fill="currentColor" d="M5 21c-.55 0-1.02-.196-1.413-.587A1.926 1.926 0 0 1 3 19V5c0-.55.196-1.02.587-1.413A1.926 1.926 0 0 1 5 3h14c.55 0 1.02.196 1.413.587.39.393.587.863.587 1.413v14c0 .55-.196 1.02-.587 1.413A1.926 1.926 0 0 1 19 21H5Zm5-2v-6H5v6h5Zm2 0h7v-6h-7v6Zm-7-8h14V5H5v6Z"/>
						  </svg>

							<span class="ml-3" sidebar-toggle-item>Dashboard</span>
						</a>
					</li>
					<li>
						<a
							href={pathRoutes.organizations.root}
							class="flex items-center p-2 text-base text-gray-900 rounded-lg hover:bg-gray-100 group dark:text-gray-200 dark:hover:bg-gray-700"
						>
						<svg  xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24" class="text-[#6B7280] group-hover:text-gray-700 dark:group-hover:text-white">
							<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.8" d="M2.25 21h19.5m-18-18v18m10.5-18v18m6-13.5V21M6.75 6.75h.75m-.75 3h.75m-.75 3h.75m3-6h.75m-.75 3h.75m-.75 3h.75M6.75 21v-3.375c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21M3 3h12m-.75 4.5H21m-3.75 3.75h.008v.008h-.008v-.008Zm0 3h.008v.008h-.008v-.008Zm0 3h.008v.008h-.008v-.008Z"/>
						  </svg>

							<span class="ml-3" sidebar-toggle-item>Organizations</span>
						</a>
					</li>
					<li>
						<a
							href={pathRoutes.organizations.users}
							class="flex items-center p-2 text-base text-gray-900 rounded-lg hover:bg-gray-100 group dark:text-gray-200 dark:hover:bg-gray-700"
						>
						<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24" class="text-[#6B7280] group-hover:text-gray-700 dark:group-hover:text-white">
							<path fill="currentColor" d="M1 20v-2.8c0-.567.146-1.087.438-1.563A2.911 2.911 0 0 1 2.6 14.55a14.843 14.843 0 0 1 3.15-1.163A13.76 13.76 0 0 1 9 13c1.1 0 2.183.13 3.25.387 1.067.259 2.117.646 3.15 1.163.483.25.87.612 1.162 1.087.292.476.438.996.438 1.563V20H1Zm18 0v-3c0-.733-.204-1.438-.613-2.113-.408-.675-.987-1.254-1.737-1.737a12.515 12.515 0 0 1 4.5 1.4c.6.333 1.058.704 1.375 1.112.317.409.475.855.475 1.338v3h-4ZM9 12c-1.1 0-2.042-.392-2.825-1.175C5.392 10.042 5 9.1 5 8s.392-2.042 1.175-2.825C6.958 4.392 7.9 4 9 4s2.042.392 2.825 1.175C12.608 5.958 13 6.9 13 8s-.392 2.042-1.175 2.825C11.042 11.608 10.1 12 9 12Zm10-4c0 1.1-.392 2.042-1.175 2.825C17.042 11.608 16.1 12 15 12a4.81 4.81 0 0 1-.7-.063 6.128 6.128 0 0 1-.7-.137 5.947 5.947 0 0 0 1.037-1.775C14.88 9.375 15 8.7 15 8s-.12-1.375-.363-2.025A5.947 5.947 0 0 0 13.6 4.2a3.04 3.04 0 0 1 .7-.163c.233-.024.467-.037.7-.037 1.1 0 2.042.392 2.825 1.175C18.608 5.958 19 6.9 19 8ZM3 18h12v-.8a.973.973 0 0 0-.5-.85c-.9-.45-1.808-.787-2.725-1.012a11.6 11.6 0 0 0-5.55 0c-.917.225-1.825.562-2.725 1.012a.973.973 0 0 0-.5.85v.8Zm6-8c.55 0 1.02-.196 1.412-.588C10.804 9.021 11 8.55 11 8c0-.55-.196-1.02-.588-1.412A1.926 1.926 0 0 0 9 6c-.55 0-1.02.196-1.412.588A1.926 1.926 0 0 0 7 8c0 .55.196 1.02.588 1.412C7.979 9.804 8.45 10 9 10Z"/>
						  </svg>

							<span class="ml-3" sidebar-toggle-item>Users</span>
						</a>
					</li>

					<li>
						<a
							href={pathRoutes.users.connectionList}
							class="flex items-center p-2 text-base text-gray-900 rounded-lg hover:bg-gray-100 group dark:text-gray-200 dark:hover:bg-gray-700"
						>
						<svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="none" viewBox="0 0 25 25" class="text-[#6B7280] group-hover:text-gray-700 dark:group-hover:text-white">
							<path fill="currentColor" fill-rule="evenodd" stroke="currentColor" stroke-width=".5" d="M13.1 7.996c.887 0 1.691.368 2.276.965l1.821-1.09a2.812 2.812 0 0 1-.12-.817c0-1.51 1.186-2.733 2.649-2.733s2.649 1.224 2.649 2.733c0 1.51-1.186 2.733-2.65 2.733a2.6 2.6 0 0 1-1.865-.793l-1.77 1.06c.158.394.246.826.246 1.28 0 .773-.254 1.485-.682 2.05l2.83 3.383c.257-.085.53-.131.814-.131 1.463 0 2.65 1.223 2.65 2.732 0 1.51-1.187 2.734-2.65 2.734-1.463 0-2.65-1.224-2.65-2.734 0-.737.284-1.406.744-1.897l-2.702-3.229a3.144 3.144 0 0 1-1.839.421l-.469 1.72c.63.5 1.037 1.286 1.037 2.169 0 1.509-1.186 2.733-2.65 2.733-1.462 0-2.649-1.224-2.649-2.733 0-1.51 1.187-2.733 2.65-2.733.147 0 .292.012.432.036l.423-1.548a3.333 3.333 0 0 1-1.699-2.314h-2.33c-.286 1.191-1.329 2.074-2.572 2.074-1.463 0-2.649-1.223-2.649-2.733 0-1.509 1.186-2.733 2.65-2.733 1.242 0 2.285.884 2.57 2.075h2.331a3.364 3.364 0 0 1 .82-1.634l-1.098-1.6c-.25.082-.517.126-.794.126-1.463 0-2.649-1.224-2.649-2.733 0-1.51 1.186-2.733 2.65-2.733 1.463 0 2.649 1.223 2.649 2.733 0 .75-.293 1.428-.767 1.922l1.049 1.525a3.141 3.141 0 0 1 1.314-.286ZM5.024 9.919c-.758 0-1.372.633-1.372 1.415s.614 1.416 1.372 1.416c.758 0 1.373-.634 1.373-1.416 0-.781-.615-1.415-1.373-1.415Zm5.745 7.217c-.758 0-1.372.634-1.372 1.416 0 .782.614 1.416 1.372 1.416.758 0 1.373-.634 1.373-1.416 0-.782-.615-1.416-1.373-1.416Zm8.529.817c-.758 0-1.372.634-1.372 1.415 0 .782.614 1.416 1.372 1.416.758 0 1.372-.634 1.372-1.416 0-.781-.614-1.415-1.372-1.415Zm.428-12.315c-.758 0-1.373.634-1.373 1.416 0 .782.615 1.416 1.373 1.416s1.372-.634 1.372-1.416c0-.782-.614-1.416-1.372-1.416ZM8.854 3.418c-.758 0-1.372.635-1.372 1.417S8.096 6.25 8.854 6.25c.758 0 1.373-.633 1.373-1.415s-.615-1.416-1.373-1.416ZM13.1 9.314c-1.083 0-1.96.905-1.96 2.021 0 1.117.877 2.022 1.96 2.022 1.082 0 1.96-.905 1.96-2.022 0-1.116-.878-2.021-1.96-2.021Z" clip-rule="evenodd"/>
						  </svg>

							<span class="ml-3" sidebar-toggle-item>Connections</span>
						</a>
					</li>
					<li>
						<button
							type="button"
							class="flex items-center w-full p-2 text-base text-gray-900 transition duration-75 rounded-lg group hover:bg-gray-100 dark:text-gray-200 dark:hover:bg-gray-700"
							aria-controls="dropdown-credentials"
							data-collapse-toggle="dropdown-credentials"
						>
						<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24" class="text-[#6B7280] group-hover:text-gray-700 dark:group-hover:text-white">
							<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.8" d="M15 9h3.75M15 12h3.75M15 15h3.75M4.5 19.5h15a2.25 2.25 0 0 0 2.25-2.25V6.75A2.25 2.25 0 0 0 19.5 4.5h-15a2.25 2.25 0 0 0-2.25 2.25v10.5A2.25 2.25 0 0 0 4.5 19.5Zm6-10.125a1.875 1.875 0 1 1-3.75 0 1.875 1.875 0 0 1 3.75 0Zm1.294 6.336c-.976.52-2.065.79-3.17.789a6.72 6.72 0 0 1-3.168-.789 3.376 3.376 0 0 1 6.338 0Z"/>
						  </svg>

							<span
								class="flex-1 ml-3 text-left whitespace-nowrap"
								sidebar-toggle-item>Credentials</span
							>
							<svg
								sidebar-toggle-item
								class="w-6 h-6 flex-shrink-0 text-gray-500 transition duration-75 group-hover:text-gray-900 dark:text-gray-400 dark:group-hover:text-white sidebar-expand-menu-icon"
								fill="currentColor"
								viewBox="0 0 20 20"
								xmlns="http://www.w3.org/2000/svg"
								><path
									fill-rule="evenodd"
									d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
									clip-rule="evenodd"></path></svg
							>
						</button>

						<ul id="dropdown-credentials" class="hidden py-2 space-y-2">
							<li>
								<a
									href={pathRoutes.organizations.issuedCredentials}
									class="flex items-center p-2 text-base text-gray-900 transition duration-75 rounded-lg pl-11 group hover:bg-gray-100 dark:text-gray-200 dark:hover:bg-gray-700"
								>
								<svg  xmlns="http://www.w3.org/2000/svg" width="26" height="24" fill="none" viewBox="0 0 26 24" class="text-[#6B7280] group-hover:text-gray-700 dark:group-hover:text-white">
									<path fill="currentColor" stroke="currentColor" stroke-width=".5" d="M23.4 3H10.6A1.6 1.6 0 0 0 9 4.6v8c.002.298.088.59.25.84l-.77.501c-.26.17-.563.26-.874.259H7.29a.797.797 0 0 0-.689-.4H1.8a.8.8 0 0 0-.8.8v4.8a.8.8 0 0 0 .8.8h4.8a.797.797 0 0 0 .689-.4h8.875a2.412 2.412 0 0 0 2.146-1.325l2.137-4.275H23.4a1.6 1.6 0 0 0 1.6-1.6v-8A1.6 1.6 0 0 0 23.4 3ZM1.8 19.4v-4.8h4.8v4.8H1.8Zm15.794-1.28a1.606 1.606 0 0 1-1.43.88H7.4v-4h.206a2.4 2.4 0 0 0 1.31-.389l6.617-4.303a.713.713 0 0 1 .864.095.696.696 0 0 1 .013.97l-3.387 3.76-.003.003-.717.796a.399.399 0 0 0 .029.565.4.4 0 0 0 .565-.029l.602-.668h2.717a1.193 1.193 0 0 0 .935-.448l.924-1.152h1.48l-1.961 3.92ZM14.94 14.2h2.11l-.52.65a.397.397 0 0 1-.314.15h-1.997l.72-.8Zm9.26-1.6a.8.8 0 0 1-.8.8h-7.74l.72-.8h3.42a.4.4 0 1 0 0-.8h-2.714A1.483 1.483 0 0 0 17 9.883V9.8a.4.4 0 0 0-.4-.4.392.392 0 0 0-.234.084 1.509 1.509 0 0 0-1.268.153l-.116.075a.394.394 0 0 0-.665-.195.4.4 0 0 0-.117.283v.42l-4.284 2.787A.79.79 0 0 1 9.8 12.6v-8a.8.8 0 0 1 .8-.8h12.8a.8.8 0 0 1 .8.8v8Z"/>
									<path fill="currentColor" stroke="currentColor" stroke-width=".1" d="M13.05 5.3v-.05h-.85a.45.45 0 0 0-.45.45v.45h1.3V5.3ZM11.8 6.85h-.05v.45a.45.45 0 0 0 .45.45h.85v-.9H11.8Zm1.95.85v.05h.85a.45.45 0 0 0 .45-.45V5.7a.45.45 0 0 0-.45-.45h-.85V7.7ZM12.2 4.55h2.4a1.15 1.15 0 0 1 1.15 1.15v1.6a1.15 1.15 0 0 1-1.15 1.15h-2.4a1.15 1.15 0 0 1-1.15-1.15V5.7a1.15 1.15 0 0 1 1.15-1.15Z"/>
									<path fill="currentColor" stroke="currentColor" stroke-width=".2" d="M11.4 9.297a.4.4 0 0 0-.4.4v.8a.4.4 0 1 0 .8 0v-.8a.4.4 0 0 0-.4-.4Zm1.602 0a.4.4 0 0 0-.4.4v.4a.4.4 0 1 0 .8 0v-.4a.4.4 0 0 0-.4-.4Zm5.198 0a.4.4 0 0 0-.4.4v.8a.4.4 0 1 0 .8 0v-.8a.4.4 0 0 0-.4-.4Zm1.598 0a.4.4 0 0 0-.4.4v.8a.4.4 0 0 0 .8 0v-.8a.4.4 0 0 0-.4-.4Z"/>
								  </svg>

									<span class="ml-2">Issue</span>
								</a>
							</li>
							<li>
								<a
									href={pathRoutes.organizations.credentials}
									class="flex items-center p-2 text-base text-gray-900 transition duration-75 rounded-lg pl-11 group hover:bg-gray-100 dark:text-gray-200 dark:hover:bg-gray-700"
								>
								<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24" class="text-[#6B7280] group-hover:text-gray-700 dark:group-hover:text-white">
									<path fill="currentColor" d="M3.444 21a2.428 2.428 0 0 1-1.726-.677C1.24 19.873 1 19.33 1 18.697V6.607c0-.634.24-1.176.718-1.627a2.428 2.428 0 0 1 1.726-.677h5.134a3.486 3.486 0 0 1 1.329-1.67A3.639 3.639 0 0 1 12 2a3.64 3.64 0 0 1 2.093.633 3.486 3.486 0 0 1 1.33 1.67h5.133c.672 0 1.247.226 1.726.677.479.45.718.993.718 1.626v12.091c0 .633-.24 1.175-.718 1.627a2.428 2.428 0 0 1-1.726.676H3.444Zm-.271-2.111h17.66V6.222H3.172V18.89ZM12 5.742a.92.92 0 0 0 .657-.244.814.814 0 0 0 .26-.62.814.814 0 0 0-.26-.618.92.92 0 0 0-.657-.245.92.92 0 0 0-.657.245.814.814 0 0 0-.26.619c0 .25.087.456.26.619a.92.92 0 0 0 .657.244Z"/>
									<g clip-path="url(#a)">
									  <path fill="currentColor" d="m16.031 20.297-.89-1.5-1.688-.375.164-1.735-1.148-1.312 1.148-1.313-.164-1.734 1.688-.375.89-1.5 1.594.68 1.594-.68.89 1.5 1.688.375-.164 1.735 1.148 1.312-1.148 1.313.164 1.734-1.688.375-.89 1.5-1.594-.68-1.594.68Zm.399-1.195 1.195-.516 1.219.516.656-1.125 1.29-.305-.118-1.313.867-.984-.867-1.008.117-1.312-1.289-.282-.68-1.125-1.195.516-1.219-.516-.656 1.125-1.29.282.118 1.312-.867 1.008.867.984-.117 1.336 1.289.282.68 1.125Zm.703-2.063 2.648-2.648-.656-.68-1.992 1.992-1.008-.984-.656.656 1.664 1.664Z"/>
									</g>
									<defs>
									  <clipPath id="a">
										<path fill="#fff" d="M10 9.75h11.25V21H10z"/>
									  </clipPath>
									</defs>

									<span class="ml-2">Verify</span>
								</a>
							</li>
						</ul>
					</li>
					<li>
						<EcosystemSidebarOption client:load />
					</li>
					<div class="border-t border-gray-200 dark:!border-gray-700 pt-3">
						<li>
							<a
						href={'https://github.com/credebl'}
						target="_blank"
						class="flex items-center p-2 text-base text-gray-900 transition duration-75 rounded-lg hover:bg-gray-100 group dark:text-gray-200 dark:hover:bg-gray-700"
					>
					<svg  xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24" class="text-[#6B7280] group-hover:text-gray-700 dark:group-hover:text-white">
						<path fill="currentColor" stroke="currentColor" stroke-width=".5" d="M11.296 2.012c-.074.007-.304.035-.508.058-.844.094-2.024.419-2.775.763a9.912 9.912 0 0 0-3.185 2.25c-3.467 3.57-3.784 9.14-.743 13.04 1.607 2.058 3.838 3.368 6.45 3.783.785.125 2.145.125 2.93 0 2.174-.344 4.077-1.302 5.602-2.828 3.267-3.254 3.87-8.242 1.481-12.22-.715-1.197-1.853-2.386-3.017-3.168a10.1 10.1 0 0 0-4.182-1.608c-.376-.055-1.771-.106-2.053-.07Zm1.994 1.247c1.43.22 2.806.806 4.022 1.714.453.336 1.305 1.181 1.634 1.611.785 1.045 1.328 2.152 1.614 3.302.825 3.305-.297 6.708-2.935 8.907a9.241 9.241 0 0 1-2.35 1.396l-.344.137v-1.334c0-1.463-.035-1.823-.21-2.26a1.682 1.682 0 0 1-.09-.255c.003-.004.171-.063.375-.13 1.884-.63 3.087-1.955 3.447-3.798.078-.383.067-1.47-.02-1.877-.136-.677-.359-1.248-.687-1.756l-.2-.313.047-.247c.07-.367.063-1.322-.015-1.666-.137-.602-.426-.978-.829-1.068-.508-.113-1.298.145-2.306.747l-.313.188-.45-.094c-1.16-.242-2.508-.223-3.564.047l-.219.055-.3-.176c-.446-.262-.982-.528-1.287-.63-.402-.137-.875-.196-1.098-.133-.371.106-.657.489-.79 1.064-.078.344-.085 1.299-.015 1.666l.047.247-.2.313c-.328.508-.55 1.08-.687 1.756-.086.407-.098 1.494-.02 1.877.36 1.843 1.563 3.169 3.447 3.799.204.066.372.125.376.129.004.004-.032.113-.086.238-.051.13-.118.356-.149.509-.05.266-.059.274-.207.328-.246.09-.747.075-.938-.023a1.432 1.432 0 0 1-.57-.536c-.419-.618-.743-.939-1.185-1.17a2.073 2.073 0 0 0-.84-.222h-.18l.05.536c.024.297.048.563.051.586 0 .028.04.051.09.051.16 0 .473.18.653.376.098.105.262.32.367.477.106.16.301.391.43.52.5.497 1.357.759 2.049.626l.164-.031v1.584l-.34-.137c-3.792-1.526-6.047-5.414-5.465-9.423.22-1.502.813-2.883 1.79-4.182.329-.43 1.181-1.275 1.634-1.611 1.388-1.04 2.838-1.6 4.628-1.788.32-.031 1.58.016 1.974.074ZM7.896 6.854c.274.086.61.25 1.075.528.238.141.48.282.543.305.164.075.434.063.907-.043a6.47 6.47 0 0 1 1.849-.168c.492.02.762.047 1.118.125.59.133.938.16 1.094.09.067-.027.317-.172.563-.32.512-.306.973-.517 1.204-.556l.16-.023.035.187c.05.31.027 1.103-.043 1.37-.117.45-.086.59.211.993.254.344.485.833.614 1.31.09.345.105.466.105.998.004.641-.066 1.036-.258 1.479-.422.966-1.29 1.728-2.392 2.096-.414.137-.707.204-1.43.32a37.76 37.76 0 0 0-.614.106c-.012.016.278.454.614.927.328.462.41.626.465.92.027.14.043.805.043 1.701v1.471l-.282.047a9.863 9.863 0 0 1-1.477.121c-.45 0-1.032-.047-1.473-.121l-.286-.047v-1.447c0-.81.02-1.561.04-1.702.05-.305.132-.47.468-.943s.626-.91.614-.927a22.41 22.41 0 0 0-.614-.105c-.723-.117-1.016-.184-1.43-.32-1.102-.369-1.97-1.131-2.392-2.098-.192-.442-.262-.837-.258-1.478 0-.532.015-.653.105-.998a4.14 4.14 0 0 1 .614-1.31c.297-.403.328-.544.211-.994-.07-.266-.094-1.06-.043-1.365.035-.207.059-.215.34-.129Z"/>
					  </svg>
						<span class="ml-3" sidebar-toggle-item>GitHub Repository</span>
					</a>
					</li>
					<li>
						<a
						href={pathRoutes.documentation.root}
						target="_blank"
						class="flex items-center p-2 text-base text-gray-900 transition duration-75 rounded-lg hover:bg-gray-100 group dark:text-gray-200 dark:hover:bg-gray-700"
					>
					<svg  xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24" class="text-[#6B7280] group-hover:text-gray-700 dark:group-hover:text-white">
						<path fill="currentColor" d="M5 21c-.55 0-1.02-.196-1.413-.587A1.926 1.926 0 0 1 3 19V5c0-.55.196-1.02.587-1.413A1.926 1.926 0 0 1 5 3h4.2a3.01 3.01 0 0 1 1.088-1.45A2.857 2.857 0 0 1 12 1c.633 0 1.204.183 1.713.55.508.367.87.85 1.087 1.45H19c.55 0 1.02.196 1.413.587.39.393.587.863.587 1.413v14c0 .55-.196 1.02-.587 1.413A1.926 1.926 0 0 1 19 21H5Zm0-2h14V5H5v14Zm2-2h7v-2H7v2Zm0-4h10v-2H7v2Zm0-4h10V7H7v2Zm5-4.75a.728.728 0 0 0 .75-.75.728.728 0 0 0-.75-.75.728.728 0 0 0-.75.75.728.728 0 0 0 .75.75Z"/>
					  </svg>
	
						<span class="ml-3" sidebar-toggle-item>Documentation</span>
					</a>
					</li>
	
					<li>
						<a
						href="https://discord.com/invite/w4hnQT7NJG"
						target="_blank"
						class="flex items-center p-2 text-base text-gray-900 transition duration-75 rounded-lg hover:bg-gray-100 group dark:text-gray-200 dark:hover:bg-gray-700"
					>
					<svg  width="24" height="24" fill="none" viewBox="0 0 24 24" class="text-[#6B7280] group-hover:text-gray-700 dark:group-hover:text-white">
						<path fill="currentColor" d="m12 22-.25-3h-.25c-2.367 0-4.375-.825-6.025-2.475C3.825 14.875 3 12.867 3 10.5c0-2.367.825-4.375 2.475-6.025C7.125 2.825 9.133 2 11.5 2a8.28 8.28 0 0 1 3.313.663 8.585 8.585 0 0 1 4.524 4.525A8.28 8.28 0 0 1 20 10.5c0 1.25-.204 2.45-.613 3.6a12.739 12.739 0 0 1-1.675 3.2 14.164 14.164 0 0 1-2.524 2.675A15.65 15.65 0 0 1 12 22Zm2-3.65c1.183-1 2.146-2.17 2.887-3.513A8.822 8.822 0 0 0 18 10.5c0-1.817-.63-3.354-1.887-4.612C14.854 4.629 13.317 4 11.5 4c-1.817 0-3.354.63-4.612 1.888C5.629 7.146 5 8.683 5 10.5c0 1.817.63 3.354 1.888 4.613C8.146 16.37 9.683 17 11.5 17H14v1.35Zm-2.525-2.375c.283 0 .525-.1.725-.3.2-.2.3-.442.3-.725s-.1-.525-.3-.725c-.2-.2-.442-.3-.725-.3s-.525.1-.725.3c-.2.2-.3.442-.3.725s.1.525.3.725c.2.2.442.3.725.3ZM10.75 12.8h1.5c0-.5.05-.85.15-1.05.1-.2.417-.567.95-1.1.3-.3.55-.625.75-.975.2-.35.3-.725.3-1.125 0-.85-.287-1.488-.863-1.913C12.963 6.213 12.284 6 11.5 6c-.733 0-1.35.204-1.85.612-.5.409-.85.905-1.05 1.488l1.4.55a2.32 2.32 0 0 1 .475-.838c.233-.275.575-.412 1.025-.412.45 0 .787.125 1.012.375.226.25.338.525.338.825 0 .283-.083.537-.25.763a6.207 6.207 0 0 1-.6.687c-.583.5-.938.896-1.063 1.188-.124.291-.187.812-.187 1.562Z"/>
					  </svg>
	
						<span class="ml-3" sidebar-toggle-item>Support</span>
					</a>
					</li>

					</div>

				</ul>

				<!-- li>
						<button
							type="button"
							class="flex items-center w-full p-2 text-base text-gray-900 transition duration-75 rounded-lg group hover:bg-gray-100 dark:text-gray-200 dark:hover:bg-gray-700"
							aria-controls="dropdown-ecosystem"
							data-collapse-toggle="dropdown-ecosystem"
							data-collapse-toggle="dropdown-ecosystem"
												>
							<svg
								class="flex-shrink-0 w-6 h-6 text-gray-500 transition duration-75 group-hover:text-gray-900 dark:text-gray-400 dark:group-hover:text-white"
								fill="currentColor"
								viewBox="0 0 20 20"
								xmlns="http://www.w3.org/2000/svg"
								aria-hidden="true"
							>
								<path
									clip-rule="evenodd"
									fill-rule="evenodd"
									d="M.99 5.24A2.25 2.25 0 013.25 3h13.5A2.25 2.25 0 0119 5.25l.01 9.5A2.25 2.25 0 0116.76 17H3.26A2.267 2.267 0 011 14.74l-.01-9.5zm8.26 9.52v-.625a.75.75 0 00-.75-.75H3.25a.75.75 0 00-.75.75v.615c0 .414.336.75.75.75h5.373a.75.75 0 00.627-.74zm1.5 0a.75.75 0 00.627.74h5.373a.75.75 0 00.75-.75v-.615a.75.75 0 00-.75-.75H11.5a.75.75 0 00-.75.75v.625zm6.75-3.63v-.625a.75.75 0 00-.75-.75H11.5a.75.75 0 00-.75.75v.625c0 .414.336.75.75.75h5.25a.75.75 0 00.75-.75zm-8.25 0v-.625a.75.75 0 00-.75-.75H3.25a.75.75 0 00-.75.75v.625c0 .414.336.75.75.75H8.5a.75.75 0 00.75-.75zM17.5 7.5v-.625a.75.75 0 00-.75-.75H11.5a.75.75 0 00-.75.75V7.5c0 .414.336.75.75.75h5.25a.75.75 0 00.75-.75zm-8.25 0v-.625a.75.75 0 00-.75-.75H3.25a.75.75 0 00-.75.75V7.5c0 .414.336.75.75.75H8.5a.75.75 0 00.75-.75z"
								></path>
							</svg>
							<span
								class="flex-1 ml-3 text-left whitespace-nowrap"
								sidebar-toggle-item>Ecosystems</span
							>
							<svg
								sidebar-toggle-item
								class="w-6 h-6"
								fill="currentColor"
								viewBox="0 0 20 20"
								xmlns="http://www.w3.org/2000/svg"
								><path
									fill-rule="evenodd"
									d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
									clip-rule="evenodd"></path></svg
							>

						</button>
						<ul id="dropdown-ecosystem" class="hidden py-2 space-y-2">
							<li>
								<a
									href='featurecoming'
									class="flex items-center p-2 text-base text-gray-900 transition duration-75 rounded-lg pl-11 group hover:bg-gray-100 dark:text-gray-200 dark:hover:bg-gray-700"
									>Ecosystems</a
								>
							</li>
							<li>
								<a
									href='featurecoming'
									class="flex items-center p-2 text-base text-gray-900 transition duration-75 rounded-lg pl-11 group hover:bg-gray-100 dark:text-gray-200 dark:hover:bg-gray-700"
									>Trust Frameworks</a
								>
							</li>
							<li>
								<a
									href='featurecoming'
									class="flex items-center p-2 text-base text-gray-900 transition duration-75 rounded-lg pl-11 group hover:bg-gray-100 dark:text-gray-200 dark:hover:bg-gray-700"
									>Members</a
								>
							</li>
							<li>
								<a
									href='featurecoming'
									class="flex items-center p-2 text-base text-gray-900 transition duration-75 rounded-lg pl-11 group hover:bg-gray-100 dark:text-gray-200 dark:hover:bg-gray-700"
									>Trust Registries</a
								>
							</li>
						</ul>
					</li -->

				<!-- <li>
					{{ if eq $page_slug "settings" }}
					<a
							href="/settings"
							class="flex items-center p-2 text-base text-gray-900 rounded-lg hover:bg-gray-100 group dark:text-gray-200 dark:hover:bg-gray-700"
						>
							<svg
								class="w-6 h-6 text-gray-500 transition duration-75 group-hover:text-gray-900 dark:text-gray-400 dark:group-hover:text-white"
								fill="currentColor"
								viewBox="0 0 20 20"
								xmlns="http://www.w3.org/2000/svg"
								aria-hidden="true"
							>
								<path
									clip-rule="evenodd"
									fill-rule="evenodd"
									d="M8.34 1.804A1 1 0 019.32 1h1.36a1 1 0 01.98.804l.295 1.473c.497.144.971.342 1.416.587l1.25-.834a1 1 0 011.262.125l.962.962a1 1 0 01.125 1.262l-.834 1.25c.245.445.443.919.587 1.416l1.473.294a1 1 0 01.804.98v1.361a1 1 0 01-.804.98l-1.473.295a6.95 6.95 0 01-.587 1.416l.834 1.25a1 1 0 01-.125 1.262l-.962.962a1 1 0 01-1.262.125l-1.25-.834a6.953 6.953 0 01-1.416.587l-.294 1.473a1 1 0 01-.98.804H9.32a1 1 0 01-.98-.804l-.295-1.473a6.957 6.957 0 01-1.416-.587l-1.25.834a1 1 0 01-1.262-.125l-.962-.962a1 1 0 01-.125-1.262l.834-1.25a6.957 6.957 0 01-.587-1.416l-1.473-.294A1 1 0 011 10.68V9.32a1 1 0 01.804-.98l1.473-.295c.144-.497.342-.971.587-1.416l-.834-1.25a1 1 0 01.125-1.262l.962-.962A1 1 0 015.38 3.03l1.25.834a6.957 6.957 0 011.416-.587l.294-1.473zM13 10a3 3 0 11-6 0 3 3 0 016 0z"
								></path>
							</svg>
							<span class="ml-3" sidebar-toggle-item>Settings</span>
						</a>
				</li> -->
			</div>

			<div class="pt-2 space-y-2">
				
				
				<!-- <a
						href="/alerts"
						target="_blank"
						class="flex items-center p-2 text-base text-gray-900 transition duration-75 rounded-lg hover:bg-gray-100 group dark:text-gray-200 dark:hover:bg-gray-700"
					>
						<svg
							class="flex-shrink-0 w-6 h-6 text-gray-500 transition duration-75 group-hover:text-gray-900 dark:text-gray-400 dark:group-hover:text-white"
							fill="currentColor"
							viewBox="0 0 20 20"
							xmlns="http://www.w3.org/2000/svg"
							><path
								d="M7 3a1 1 0 000 2h6a1 1 0 100-2H7zM4 7a1 1 0 011-1h10a1 1 0 110 2H5a1 1 0 01-1-1zM2 11a2 2 0 012-2h12a2 2 0 012 2v4a2 2 0 01-2 2H4a2 2 0 01-2-2v-4z"
							></path></svg
						>
						<span class="ml-3" sidebar-toggle-item>FAQ's</span>
					</a>  -->
				
			</div>
		</div>

		<div
			class="absolute bottom-0 left-0 justify-center hidden w-full p-4 space-x-4 bg-white lg:flex dark:bg-gray-800"
			sidebar-bottom-menu
		>
			<!--a
				href="#"
				class="inline-flex justify-center p-2 text-gray-500 rounded cursor-pointer hover:text-gray-900 hover:bg-gray-100 dark:hover:bg-gray-700 dark:hover:text-white"
			>
				<svg
					class="w-6 h-6"
					fill="currentColor"
					viewBox="0 0 20 20"
					xmlns="http://www.w3.org/2000/svg"
					><path
						d="M5 4a1 1 0 00-2 0v7.268a2 2 0 000 3.464V16a1 1 0 102 0v-1.268a2 2 0 000-3.464V4zM11 4a1 1 0 10-2 0v1.268a2 2 0 000 3.464V16a1 1 0 102 0V8.732a2 2 0 000-3.464V4zM16 3a1 1 0 011 1v7.268a2 2 0 010 3.464V16a1 1 0 11-2 0v-1.268a2 2 0 010-3.464V4a1 1 0 011-1z"
					></path></svg
				>
			</a>
			<a
				href="/settings/"
				data-tooltip-target="tooltip-settings"
				class="inline-flex justify-center p-2 text-gray-500 rounded cursor-pointer hover:text-gray-900 hover:bg-gray-100 dark:hover:bg-gray-700 dark:hover:text-white"
			>
				<svg
					class="w-6 h-6"
					fill="currentColor"
					viewBox="0 0 20 20"
					xmlns="http://www.w3.org/2000/svg"
					><path
						fill-rule="evenodd"
						d="M11.49 3.17c-.38-1.56-2.6-1.56-2.98 0a1.532 1.532 0 01-2.286.948c-1.372-.836-2.942.734-2.106 2.106.54.886.061 2.042-.947 2.287-1.561.379-1.561 2.6 0 2.978a1.532 1.532 0 01.947 2.287c-.836 1.372.734 2.942 2.106 2.106a1.532 1.532 0 012.287.947c.379 1.561 2.6 1.561 2.978 0a1.533 1.533 0 012.287-.947c1.372.836 2.942-.734 2.106-2.106a1.533 1.533 0 01.947-2.287c1.561-.379 1.561-2.6 0-2.978a1.532 1.532 0 01-.947-2.287c.836-1.372-.734-2.942-2.106-2.106a1.532 1.532 0 01-2.287-.947zM10 13a3 3 0 100-6 3 3 0 000 6z"
						clip-rule="evenodd"></path></svg
				>
			</a-->
			<div
				id="tooltip-settings"
				role="tooltip"
				class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700"
			>
				Settings page
				<div class="tooltip-arrow" data-popper-arrow></div>
			</div>
			<!-- <button
				type="button"
				data-dropdown-toggle="language-dropdown"
				class="inline-flex justify-center p-2 text-gray-500 rounded cursor-pointer hover:text-gray-900 hover:bg-gray-100 dark:hover:bg-gray-700 dark:hover:text-white"
			>
				<svg
					class="h-5 w-5 rounded-full mt-0.5"
					xmlns="http://www.w3.org/2000/svg"
					xmlns:xlink="http://www.w3.org/1999/xlink"
					viewBox="0 0 3900 3900"
					><path fill="#b22234" d="M0 0h7410v3900H0z"></path><path
						d="M0 450h7410m0 600H0m0 600h7410m0 600H0m0 600h7410m0 600H0"
						stroke="#fff"
						stroke-width="300"></path><path fill="#3c3b6e" d="M0 0h2964v2100H0z"
					></path><g fill="#fff"
						><g id="d"
							><g id="c"
								><g id="e"
									><g id="b"
										><path
											id="a"
											d="M247 90l70.534 217.082-184.66-134.164h228.253L176.466 307.082z"
										></path><use xlink:href="#a" y="420"></use><use
											xlink:href="#a"
											y="840"></use><use xlink:href="#a" y="1260"></use></g
									><use xlink:href="#a" y="1680"></use></g
								><use xlink:href="#b" x="247" y="210"></use></g
							><use xlink:href="#c" x="494"></use></g
						><use xlink:href="#d" x="988"></use><use xlink:href="#c" x="1976"
						></use><use xlink:href="#e" x="2470"></use></g
					></svg
				>
			</button> -->
			<!-- Dropdown -->
			<div
				class="z-50 hidden my-4 text-base list-none bg-white divide-y divide-gray-100 rounded shadow dark:bg-gray-700"
				id="language-dropdown"
			>
				<ul class="py-1" role="none">
					<li>
						<a
							href="#"
							class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-400 dark:hover:bg-gray-600 dark:hover:text-white"
							role="menuitem"
						>
							<div class="inline-flex items-center">
								<svg
									class="h-3.5 w-3.5 rounded-full mr-2"
									xmlns="http://www.w3.org/2000/svg"
									id="flag-icon-css-us"
									viewBox="0 0 512 512"
								>
									<g fill-rule="evenodd">
										<g stroke-width="1pt">
											<path
												fill="#bd3d44"
												d="M0 0h247v10H0zm0 20h247v10H0zm0 20h247v10H0zm0 20h247v10H0zm0 20h247v10H0zm0 20h247v10H0zm0 20h247v10H0z"
												transform="scale(3.9385)"></path>
											<path
												fill="#fff"
												d="M0 10h247v10H0zm0 20h247v10H0zm0 20h247v10H0zm0 20h247v10H0zm0 20h247v10H0zm0 20h247v10H0z"
												transform="scale(3.9385)"></path>
										</g>
										<path
											fill="#192f5d"
											d="M0 0h98.8v70H0z"
											transform="scale(3.9385)"></path>
										<path
											fill="#fff"
											d="M8.2 3l1 2.8H12L9.7 7.5l.9 2.7-2.4-1.7L6 10.2l.9-2.7-2.4-1.7h3zm16.5 0l.9 2.8h2.9l-2.4 1.7 1 2.7-2.4-1.7-2.4 1.7 1-2.7-2.4-1.7h2.9zm16.5 0l.9 2.8H45l-2.4 1.7 1 2.7-2.4-1.7-2.4 1.7 1-2.7-2.4-1.7h2.9zm16.4 0l1 2.8h2.8l-2.3 1.7.9 2.7-2.4-1.7-2.3 1.7.9-2.7-2.4-1.7h3zm16.5 0l.9 2.8h2.9l-2.4 1.7 1 2.7L74 8.5l-2.3 1.7.9-2.7-2.4-1.7h2.9zm16.5 0l.9 2.8h2.9L92 7.5l1 2.7-2.4-1.7-2.4 1.7 1-2.7-2.4-1.7h2.9zm-74.1 7l.9 2.8h2.9l-2.4 1.7 1 2.7-2.4-1.7-2.4 1.7 1-2.7-2.4-1.7h2.9zm16.4 0l1 2.8h2.8l-2.3 1.7.9 2.7-2.4-1.7-2.3 1.7.9-2.7-2.4-1.7h3zm16.5 0l.9 2.8h2.9l-2.4 1.7 1 2.7-2.4-1.7-2.4 1.7 1-2.7-2.4-1.7h2.9zm16.5 0l.9 2.8h2.9l-2.4 1.7 1 2.7-2.4-1.7-2.4 1.7 1-2.7-2.4-1.7H65zm16.4 0l1 2.8H86l-2.3 1.7.9 2.7-2.4-1.7-2.3 1.7.9-2.7-2.4-1.7h3zm-74 7l.8 2.8h3l-2.4 1.7.9 2.7-2.4-1.7L6 24.2l.9-2.7-2.4-1.7h3zm16.4 0l.9 2.8h2.9l-2.3 1.7.9 2.7-2.4-1.7-2.3 1.7.9-2.7-2.4-1.7h2.9zm16.5 0l.9 2.8H45l-2.4 1.7 1 2.7-2.4-1.7-2.4 1.7 1-2.7-2.4-1.7h2.9zm16.4 0l1 2.8h2.8l-2.3 1.7.9 2.7-2.4-1.7-2.3 1.7.9-2.7-2.4-1.7h3zm16.5 0l.9 2.8h2.9l-2.3 1.7.9 2.7-2.4-1.7-2.3 1.7.9-2.7-2.4-1.7h2.9zm16.5 0l.9 2.8h2.9L92 21.5l1 2.7-2.4-1.7-2.4 1.7 1-2.7-2.4-1.7h2.9zm-74.1 7l.9 2.8h2.9l-2.4 1.7 1 2.7-2.4-1.7-2.4 1.7 1-2.7-2.4-1.7h2.9zm16.4 0l1 2.8h2.8l-2.3 1.7.9 2.7-2.4-1.7-2.3 1.7.9-2.7-2.4-1.7h3zm16.5 0l.9 2.8h2.9l-2.3 1.7.9 2.7-2.4-1.7-2.3 1.7.9-2.7-2.4-1.7h2.9zm16.5 0l.9 2.8h2.9l-2.4 1.7 1 2.7-2.4-1.7-2.4 1.7 1-2.7-2.4-1.7H65zm16.4 0l1 2.8H86l-2.3 1.7.9 2.7-2.4-1.7-2.3 1.7.9-2.7-2.4-1.7h3zm-74 7l.8 2.8h3l-2.4 1.7.9 2.7-2.4-1.7L6 38.2l.9-2.7-2.4-1.7h3zm16.4 0l.9 2.8h2.9l-2.3 1.7.9 2.7-2.4-1.7-2.3 1.7.9-2.7-2.4-1.7h2.9zm16.5 0l.9 2.8H45l-2.4 1.7 1 2.7-2.4-1.7-2.4 1.7 1-2.7-2.4-1.7h2.9zm16.4 0l1 2.8h2.8l-2.3 1.7.9 2.7-2.4-1.7-2.3 1.7.9-2.7-2.4-1.7h3zm16.5 0l.9 2.8h2.9l-2.3 1.7.9 2.7-2.4-1.7-2.3 1.7.9-2.7-2.4-1.7h2.9zm16.5 0l.9 2.8h2.9L92 35.5l1 2.7-2.4-1.7-2.4 1.7 1-2.7-2.4-1.7h2.9zm-74.1 7l.9 2.8h2.9l-2.4 1.7 1 2.7-2.4-1.7-2.4 1.7 1-2.7-2.4-1.7h2.9zm16.4 0l1 2.8h2.8l-2.3 1.7.9 2.7-2.4-1.7-2.3 1.7.9-2.7-2.4-1.7h3zm16.5 0l.9 2.8h2.9l-2.3 1.7.9 2.7-2.4-1.7-2.3 1.7.9-2.7-2.4-1.7h2.9zm16.5 0l.9 2.8h2.9l-2.4 1.7 1 2.7-2.4-1.7-2.4 1.7 1-2.7-2.4-1.7H65zm16.4 0l1 2.8H86l-2.3 1.7.9 2.7-2.4-1.7-2.3 1.7.9-2.7-2.4-1.7h3zm-74 7l.8 2.8h3l-2.4 1.7.9 2.7-2.4-1.7L6 52.2l.9-2.7-2.4-1.7h3zm16.4 0l.9 2.8h2.9l-2.3 1.7.9 2.7-2.4-1.7-2.3 1.7.9-2.7-2.4-1.7h2.9zm16.5 0l.9 2.8H45l-2.4 1.7 1 2.7-2.4-1.7-2.4 1.7 1-2.7-2.4-1.7h2.9zm16.4 0l1 2.8h2.8l-2.3 1.7.9 2.7-2.4-1.7-2.3 1.7.9-2.7-2.4-1.7h3zm16.5 0l.9 2.8h2.9l-2.3 1.7.9 2.7-2.4-1.7-2.3 1.7.9-2.7-2.4-1.7h2.9zm16.5 0l.9 2.8h2.9L92 49.5l1 2.7-2.4-1.7-2.4 1.7 1-2.7-2.4-1.7h2.9zm-74.1 7l.9 2.8h2.9l-2.4 1.7 1 2.7-2.4-1.7-2.4 1.7 1-2.7-2.4-1.7h2.9zm16.4 0l1 2.8h2.8l-2.3 1.7.9 2.7-2.4-1.7-2.3 1.7.9-2.7-2.4-1.7h3zm16.5 0l.9 2.8h2.9l-2.3 1.7.9 2.7-2.4-1.7-2.3 1.7.9-2.7-2.4-1.7h2.9zm16.5 0l.9 2.8h2.9l-2.4 1.7 1 2.7-2.4-1.7-2.4 1.7 1-2.7-2.4-1.7H65zm16.4 0l1 2.8H86l-2.3 1.7.9 2.7-2.4-1.7-2.3 1.7.9-2.7-2.4-1.7h3zm-74 7l.8 2.8h3l-2.4 1.7.9 2.7-2.4-1.7L6 66.2l.9-2.7-2.4-1.7h3zm16.4 0l.9 2.8h2.9l-2.3 1.7.9 2.7-2.4-1.7-2.3 1.7.9-2.7-2.4-1.7h2.9zm16.5 0l.9 2.8H45l-2.4 1.7 1 2.7-2.4-1.7-2.4 1.7 1-2.7-2.4-1.7h2.9zm16.4 0l1 2.8h2.8l-2.3 1.7.9 2.7-2.4-1.7-2.3 1.7.9-2.7-2.4-1.7h3zm16.5 0l.9 2.8h2.9l-2.3 1.7.9 2.7-2.4-1.7-2.3 1.7.9-2.7-2.4-1.7h2.9zm16.5 0l.9 2.8h2.9L92 63.5l1 2.7-2.4-1.7-2.4 1.7 1-2.7-2.4-1.7h2.9z"
											transform="scale(3.9385)"></path>
									</g>
								</svg>
								English (US)
							</div>
						</a>
					</li>
					<li>
						<a
							href="#"
							class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-400 dark:hover:bg-gray-600 dark:hover:text-white"
							role="menuitem"
						>
							<div class="inline-flex items-center">
								<svg
									class="h-3.5 w-3.5 rounded-full mr-2"
									xmlns="http://www.w3.org/2000/svg"
									id="flag-icon-css-de"
									viewBox="0 0 512 512"
								>
									<path fill="#ffce00" d="M0 341.3h512V512H0z"></path>
									<path d="M0 0h512v170.7H0z"></path>
									<path fill="#d00" d="M0 170.7h512v170.6H0z"></path>
								</svg>
								Deutsch
							</div>
						</a>
					</li>
					<li>
						<a
							href="#"
							class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-400 dark:hover:bg-gray-600 dark:hover:text-white"
							role="menuitem"
						>
							<div class="inline-flex items-center">
								<svg
									class="h-3.5 w-3.5 rounded-full mr-2"
									xmlns="http://www.w3.org/2000/svg"
									id="flag-icon-css-it"
									viewBox="0 0 512 512"
								>
									<g fill-rule="evenodd" stroke-width="1pt">
										<path fill="#fff" d="M0 0h512v512H0z"></path>
										<path fill="#009246" d="M0 0h170.7v512H0z"></path>
										<path fill="#ce2b37" d="M341.3 0H512v512H341.3z"></path>
									</g>
								</svg>
								Italiano
							</div>
						</a>
					</li>
					<li>
						<a
							href="#"
							class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-400 dark:hover:bg-gray-600 dark:hover:text-white"
							role="menuitem"
						>
							<div class="inline-flex items-center">
								<svg
									class="h-3.5 w-3.5 rounded-full mr-2"
									xmlns="http://www.w3.org/2000/svg"
									xmlns:xlink="http://www.w3.org/1999/xlink"
									id="flag-icon-css-cn"
									viewBox="0 0 512 512"
								>
									<defs>
										<path id="a" fill="#ffde00" d="M1-.3L-.7.8 0-1 .6.8-1-.3z"
										></path>
									</defs>
									<path fill="#de2910" d="M0 0h512v512H0z"></path>
									<use
										width="30"
										height="20"
										transform="matrix(76.8 0 0 76.8 128 128)"
										xlink:href="#a"></use>
									<use
										width="30"
										height="20"
										transform="rotate(-121 142.6 -47) scale(25.5827)"
										xlink:href="#a"></use>
									<use
										width="30"
										height="20"
										transform="rotate(-98.1 198 -82) scale(25.6)"
										xlink:href="#a"></use>
									<use
										width="30"
										height="20"
										transform="rotate(-74 272.4 -114) scale(25.6137)"
										xlink:href="#a"></use>
									<use
										width="30"
										height="20"
										transform="matrix(16 -19.968 19.968 16 256 230.4)"
										xlink:href="#a"></use>
								</svg>
								中文 (繁體)
							</div>
						</a>
					</li>
				</ul>
			</div>
		</div>

		<div
			class="fixed inset-0 -z-10 hidden bg-gray-900/50 dark:bg-gray-900/90"
			id="sidebarBackdrop"
		>
		</div>

		<script>
			const sidebar = document.getElementById('sidebar');

			if (sidebar) {
				const toggleSidebarMobile = (
					sidebar: HTMLElement,
					sidebarBackdrop: HTMLElement,
					toggleSidebarMobileHamburger: HTMLElement,
					toggleSidebarMobileClose: HTMLElement,
				) => {
					sidebar.classList.toggle('hidden');
					sidebarBackdrop.classList.toggle('hidden');
					toggleSidebarMobileHamburger.classList.toggle('hidden');
					toggleSidebarMobileClose.classList.toggle('hidden');
				};

				const toggleSidebarMobileEl = document.getElementById(
					'toggleSidebarMobile',
				);
				const sidebarBackdrop = document.getElementById('sidebarBackdrop')!;
				const toggleSidebarMobileHamburger = document.getElementById(
					'toggleSidebarMobileHamburger',
				)!;
				const toggleSidebarMobileClose = document.getElementById(
					'toggleSidebarMobileClose',
				)!;
				const toggleSidebarMobileSearch = document.getElementById(
					'toggleSidebarMobileSearch',
				)!;

				toggleSidebarMobileSearch?.addEventListener('click', () => {
					toggleSidebarMobile(
						sidebar,
						sidebarBackdrop,
						toggleSidebarMobileHamburger,
						toggleSidebarMobileClose,
					);
				});

				toggleSidebarMobileEl?.addEventListener('click', () => {
					toggleSidebarMobile(
						sidebar,
						sidebarBackdrop,
						toggleSidebarMobileHamburger,
						toggleSidebarMobileClose,
					);
				});

				sidebarBackdrop?.addEventListener('click', () => {
					toggleSidebarMobile(
						sidebar,
						sidebarBackdrop,
						toggleSidebarMobileHamburger,
						toggleSidebarMobileClose,
					);
				});
			}
		</script>
	</div>
</aside>
